---
layout: default
title: About
permalink: /about/
titlebar: title-016.jpg
highlight: about
background-position: "left bottom"
script: "about"
---
<div id="section" class="jx-container jx-padding container-no-margin background-001">
  <div class="container">
      <div class="eight columns">
        <div class="jx-section-title title-light jx-dark">
          <div class="jx-title jx-uppercase">The <span>Basics</span></div>
          <div class="jx-hr-title"></div>
        </div>
        <div class="section-content">
            <p>The PTBO Game Jam is a bi-annual not-for-profit event managed by industry professionals hosted in beautiful Peterborough Ontario, Canada. It is a gathering of people from all walks of life; from seasoned game developers and students just entering the industry, to hobbyists and enthusiasts all eager to engage and see what they can produce in a short timeframe.</p>
            <p>Originally created in July 2016 by <a href="http://reapazor.com">Matthew Davey</a> with the support of <a href="http://dotbunny.com/">dotBunny</a>. The intent was to foster and support the local video game development industry, as well as develop a community that would eventually be able to take over in organizing the event. It only took a matter of weeks before other awesome 'like-minded' individuals were volunteering their support for this noble cause.</p>
            <p><em>Getting Shit Done&trade;</em> is the team's ethos &#8212; demonstrating what a collection of skilled professionals can accomplish when united under a common banner.</p>
        </div>
      </div>
      <div class="eight columns">
        <div class="content-spacer"><iframe src="{{ site.data.latest.latest_video }}" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe></div>
      </div>
  </div>
</div>

<!-- WHAT IS A GAME JAM? -->
<div id="about" class="jx-container jx-padding background-008">
  <div class="container">
    <div class="jx-section-title-1">
      <div class="jx-pre-title">
        <div class="jx-title-icon"><i class="icon-gamejam icon-3x"></i></div>
      </div>
      <a href="https://en.wikipedia.org/wiki/Game_jam"><div class="jx-title jx-uppercase">What Is A Game Jam?</div></a>
      <div class="jx-subtitle"><p>A game jam is a gathering of game developers for the purpose of planning, designing, and creating one or more games within a short span of time, usually ranging between 24 and 72 hours. Game developers are generally made up of programmers, game designers, artists, and others in game development-related fields.</p></div>
    </div>
    <div class="row"></div>
    <div class="jx-servicebox-1">
      <div class="one-third columns jx-service-item">
        <div class="service-icon"><i class="icon-industry"></i></div>
        <div class="service-title jx-uppercase"><a href="#">Industry</a></div>
        <div class="service-title-border"></div>
        <div class="service-description">
          <p>We work with industry leaders to create meaningful and impactful events that introduce talented individuals to the video games industry, as well as compliment already existing professionals.</p>
        </div>
      </div>
      <div class="one-third columns jx-service-item">
        <div class="service-icon"><i class="icon-graduation-cap"></i></div>
        <div class="service-title jx-uppercase"><a href="#">Education</a></div>
        <div class="service-title-border"></div>
        <div class="service-description">
          <p>We offer a block of time at the start of our events dedicated to learning opportunities, as well as a question and answer period with industry professionals.</p>
        </div>
      </div>
      <div class="one-third columns jx-service-item">
        <div class="service-icon"><i class="icon-newspaper"></i></div>
        <div class="service-title jx-uppercase"><a href="#">Exposure</a></div>
        <div class="service-title-border"></div>
        <div class="service-description">
          <p>We provide an outlet for game creators to show off their work and get noticed by media and financial backers.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- STATS -->
<div id='stats' class="jx-container jx-padding container-no-margin background-003">
  <div class="container">
    <div class="sixteen columns">
      <div class="jx-section-title title-light jx-dark">
        <div class="jx-title jx-uppercase">The <span>Numbers</span></div>
        <div class="jx-hr-title"></div>
      </div>
      <div class="section-content">
        <div class="jx-subtitle"><p>We keep track of an incredible amount of data across our events, with the hopes of tracking our progress and providing key insights on areas where we can improve, and where we have been successful. Below is just a small sample of some of the data we collect that we have found particularly interesting, especially when put in perspective of how we are impacting local economic growth and development.</p></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="eight columns chart-holder">
      <canvas id="attendance-chart"></canvas>
    </div>
    <div class="eight columns">
      <ul class="statpoints statpoints-right">
        <li><span>{{ site.data.stats.attendees }}</span> Awesome Attendees</li>
        <li>Average Jammer Age Of <span>{{ site.data.stats.average_age }}</span> Years Old</li>
        <li><span>{{ site.data.stats.outside_distance }}</span> km Average Out Of Town Travel Distance</li>
        <li><span>{{ site.data.stats.pizza }}</span> Slices Of Pizza Eaten</li>
        <li>A Jammer Consumes <span>{{ site.data.stats.pizza_per_jammer }}</span> Slices Of Pizza</li>
      </ul>
    </div>
  </div>
  
  <div class="container">
    <hr />
    <div class="eight columns chart-holder">
      <canvas id="engine-chart"></canvas>
    </div>
    <div class="eight columns chart-holder chart-spacer">
      <canvas id="games-chart"></canvas>
    </div>
  </div>

    <div class="container">
    <hr />
    <div class="eight columns chart-holder">
      <canvas id="funding-chart"></canvas>
    </div>
    <div class="eight columns chart-holder chart-spacer">
      <canvas id="age-chart"></canvas>
    </div>
  </div>

</div>

<!-- TEAM -->
<div id='team' class="jx-container container-no-margin jx-padding background-007 ">
  <div class="container ">
    <div class="jx-team">
      <div class="jx-team-item jx-team-box-content">
        <a name="team"><div class="jx-title jx-uppercase">Meet Our <span>Team</span></div></a>
        <div class="jx-hr-title"></div>
        <p>Putting on a <em>world class event</em> takes a dedicated team of individuals in-and-around the industry volunteering their time, collaborating on ideas and innovations, and just "getting it done"; it is the hard work of these individuals that continue to make the PTBO Game Jam a success.</p>
      </div>
{% for member in site.data.staff  %}
      <div class="jx-team-item">
        <div class="jx-team-photo jx-image-wrapper"><img width="234" height="189" src="{{ member.picture || prepend: site.baseurl }}" class="attachment-team-image" alt="{{ member.name }}" />
          <div class="jx-team-overlayer"></div>
          <div class="jx-image-hover-info">
            <div class="jx-team-name">{{ member.name }}</div>
            <div class="jx-team-pos">{{ member.position }}</div>
            <div class="team-social">
              <ul>
                {% if member.webpage %}<li><a href="{{ member.webpage }}"><i class="icon-home"></i></a></li>{% endif %}
                {% if member.twitter %}<li><a href="{{ member.twitter }}"><i class="icon-twitter"></i></a></li>{% endif %}
                {% if member.linkedin  %}<li><a href="{{ member.linkedin }}"><i class="icon-linkedin"></i></a></li>{% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
{% endfor %}
      <div class="jx-team-item">
        <div class="jx-team-photo jx-image-wrapper"><img width="234" height="189" src="{{ "/content/img/team/volunteer.jpg" || prepend: site.baseurl }}" class="attachment-team-image" alt="Volunteer Now!" />
          <div class="jx-team-overlayer"></div>
          <div class="jx-image-hover-info">
            <a href="{{ site.volunteer_email }}">
              <div class="jx-team-name">Awesome?</div>
              <div class="jx-team-pos">Volunteer.</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include block-summary.html %}
