---
layout: default
title: About
permalink: /about/
titlebar: title-002.jpg
highlight: about
---
<div class="jx-ievent-padding no-bottom-padding no">
  <div class="container">
      <div class="eight columns">
        <div class="jx-ievent-title-2 jx-ievent-dark">
          <div class="jx-ievent-title jx-ievent-uppercase">Business Event<span> Information</span></div>
          <div class="jx-ievent-hr-title"></div>
        </div>
        <div class="wpb_text_column wpb_content_element ">
          <div class="wpb_wrapper">
            <p>The PTBO Game Jam is a bi-annual not-for-profit event managed by industry professionals hosted in beautiful Peterborough Ontario, Canada. It is a gathering of people from all walks of life; from seasoned game developers and students just entering the industry, to hobbyists and enthusiasts all eager to engage and see what they can produce in a short timeframe.</p>
          </div>
        </div>
      </div>
      <div class="eight columns">
        <div class="jx-ievent-image-placeholder "><iframe src="https://player.vimeo.com/video/178906574" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe></div>
      </div>
  </div>
</div>
{% include block-learnmore.html %}
{% include block-team.html %}
{% include block-ticker.html %}
{% include block-summary.html %}
