---
layout: default
title: "02"
permalink: /archive/02/
highlight: archive
titlebar: title-010.jpg
script: "archive"
breadcrumb: archive
---
<div id="games-list" class="jx-container jx-padding jx-light">
  <div class="container">
    <div class="jx-section-title-1">
      <div class="jx-pre-title jx-short-border">
        <div class="jx-title-border jx-title-border-light left"></div>
        <div class="jx-title-icon-light"><i class="icon-gamepad icon-3x"></i></div>
        <div class="jx-title-border jx-title-border-light right"></div>
      </div>
      <div class="jx-title jx-title-light jx-uppercase">PTBO Game Jam 02</div>
      <div class="jx-subtitle"><p>We're just getting started and are looking at how to best archive the games, but for now we'll stick with linking to the itch.io system.</p></div>
    </div>
    <div class="archive-list">
        {% for item in site.data.archive %}
            {% if item.event == "02" %}
                {% include archive-item.html %}
            {% endif %}
        {% endfor %}
    </div>
  </div>
</div>

{% include block-ticker.html %}
{% include block-summary.html %}
