---
layout: default
title: Archive
permalink: /archive/
highlight: archive
titlebar: title-010.jpg
script: "archive"
---
<div id="games-list" class="jx-container jx-padding jx-light">
  <div class="container">
    <div class="jx-section-title-1">
      <div class="jx-pre-title jx-short-border">
        <div class="jx-title-border jx-title-border-light left"></div>
        <div class="jx-title-icon-light"><i class="icon-gamepad icon-3x"></i></div>
        <div class="jx-title-border jx-title-border-light right"></div>
      </div>
      <div class="jx-title jx-title-light jx-uppercase">PAST EVENTS</div>
      <div class="jx-subtitle"><p>We're just getting started and are looking at how to best archive the games, but for now we'll stick with linking to the itch.io system.</p></div>
		</div>
    <div class="eight columns text-center">
      <a href="https://itch.io/jam/ptbogamejam01/entries"><img src="{{ "/content/img/games/01.jpg" | prepend: site.baseurl }}" alt="PTBO Game Jam 01"></a>
    </div>
    <div class="eight columns chart-holder text-center">
      <a href="https://itch.io/jam/ptbogamejam02/entries"><img src="{{ "/content/img/games/02.jpg" | prepend: site.baseurl }}" alt="PTBO Game Jam 02"></a>
    </div>
  </div>
</div>
{% include block-ticker.html %}
{% include block-summary.html %}
