---
layout: default
title: "02"
permalink: /archive/02/
highlight: archive
titlebar: title-007.jpg
script: "archive"
breadcrumb: archive
---
<div id="games-list" class="jx-container jx-padding jx-light">
  <div class="container">
    <div class="jx-section-title-1">
      <div class="jx-pre-title jx-short-border">
        <div class="jx-title-border jx-title-border-light left"></div>
        <div class="jx-title-icon-light"><i class="icon-gamepad icon-3x"></i></div>
        <div class="jx-title-border jx-title-border-light right"></div>
      </div>
      <div class="jx-title jx-title-light jx-uppercase">PTBO Game Jam 02</div>
      <div class="jx-subtitle"><p>We're just getting started and are looking at how to best archive the games, but for now we'll stick with linking to the itch.io system.</p></div>
    </div>
  </div>
</div>

<!-- 02 Games List -->
<div id='gallery' class="jx-container container-no-margin jx-padding background-005">
  <div class="container ">
    <div class="jx-section-title-1 jx-dark">
      <div class="jx-pre-title jx-short-border">
        <div class="jx-title-icon"><i class="icon-fort-awesome color-white"></i></div>
      </div>
      <div class="jx-title jx-uppercase">Games</div>
      <div class="jx-subtitle">
        <p>An impressive 33 games were created throughout PTBO Game Jam 02, themed according to <strong class="white">#AlternativeFacts</strong>. The theme definately presented it's own unique challenges in application, but jammers were still able to create a wide variety of titles.</p>
      </div>
    </div>

    {% for item in site.archive %}
        {% if item.event == "02" %}
        <div class="jx-grid-item ">
          <div class="jx-image jx-image-wrapper">
            {% if item.screenshots[0] %}
            <img class="max-width" src="{{ item.screenshots[0][0] | prepend: site.baseurl }}" alt="{{ item.title }}"/>
            {% else %}
            <img class="max-width" src="{{ "/content/img/event/game-template.jpg" | prepend: site.baseurl }}" alt="{{ item.title }}"/>
            {% endif %}
            <a href="{{ item.url | prepend: site.baseurl }}">
              <div class="jx-image-overlayer"></div>
              <div class="jx-image-hover">
                <i class="icon-link"></i>
              </div>
            </a>
          </div>
        </div>
        {% endif %}
    {% endfor %}
    
    DNF
  </div>
</div>

{% include block-ticker.html %}
{% include block-summary.html %}
