---
layout: default
title: Brand Guidelines
titlebar: title-015.jpg
permalink: /brand/
---
<div id="section" class="jx-container jx-padding container-no-margin background-001">
  <div class="container">
      <div class="eight columns">
        <div class="jx-section-title title-light jx-dark">
          <div class="jx-title jx-uppercase">Think Before <span>Using</span></div>
          <div class="jx-hr-title"></div>
        </div>
        <div class="section-content">
            <p>We are quite fond of our brand, and care a significant amount about how it is used out there in the big scary world, so much so that we went that extra mile and registered it. Below are some things to keep in mind, so that you don’t offend anyone and support this wonderful thing that we have created when using our brand.</p>
            <ul class="brand-terms">
              <li>When making a reference to the PTBO Game Jam, your reference must be truthful, and not suggestive of anything other than the truth, and you cannot imply that you are affiliated with, sponsoring, sponsored by, or endorsed by the PTBO Game Jam.</li>
              <li>“PTBO Game Jam” is our proper name when written in text and should be capitalized as such.</li>
              <li>When making a textual reference to the PTBO Game Jam, please do not link to anything except <a href="http://ptbogamejam.com" title="PTBO Game Jam">http://ptbogamejam.com</a>.</li>
              <li>When using our logos and/or icons, you can’t just do whatever ridiculous thing you want with them. Please observe the guidelines below.</li>
            </ul>
        </div>
      </div>
      <div class="eight columns">
        <div class="content-spacer"><img alt="PTBO Game Jam" src="{{ "/content/img/brand/ptbogamejam-logo.png" | prepend: site.baseurl }}" width="100%"></div>
      </div>
  </div>
</div>

{% include block-brand-logos.html %}
{% include block-ticker.html %}
