---
layout: default
title: Community
permalink: /community/
highlight: community
titlebar: title-012.jpg
background-position: top
---
<div id="our-peterborough" class="jx-container jx-padding jx-light background-002">
  <div class="container">
    <div class="jx-section-title-1">
      <div class="jx-pre-title jx-short-border">
        <div class="jx-title-border jx-title-border-light left"></div>
        <div class="jx-title-icon-light"><i class="icon-heart-empty icon-3x"></i></div>
        <div class="jx-title-border jx-title-border-light right"></div>
      </div>
      <div class="jx-title jx-title-light jx-uppercase">OUR PETERBOROUGH</div>
      <div class="jx-subtitle">
        <p>With a growing local presence, we are quickly becoming a pillar for innovation and technology in our community with a proven track record of being able to deliver and providing industry backed advice where needed. With our <em>Getting Shit Done&trade;</em> attitude we continue to push our mandate forward and engage with the surrounding community.</p>
      </div>
		</div>
		<div>

      <a href="{{ site.data.links.meetup }}" title="PTBO Game Dev Meetup">
        <div class="jx-venue one-third columns jx-service-item">
          <div class="jx-venue-item">
            <div class="image-hover">
              <div class="image"><img src="/content/img/community/meetup.jpg" hdpi="true" alt="PTBO Game Dev Meetup"></div>
              <div class="title">Peterborough Game Developers</div>
            </div>
            <div class="details">Our monthly organized meetup of game developers to discuss everything about the craft of making video games.</div>
          </div>
        </div>
      </a>

      <a href="{{ site.data.links.discord }}" title="PTBO Game Jam Discord Server">
        <div class="jx-venue one-third columns jx-service-item">
          <div class="jx-venue-item">
            <div class="image-hover">
              <div class="image"><img src="/content/img/community/discord.jpg" hdpi="true" alt="PTBO Game Jam Discord Server"></div>
              <div class="title">Peterborough Game Developers</div>
            </div>
            <div class="details">We have moved over to using Discord for our communications platform, it seems more inline with our views.</div>
          </div>
        </div>
      </a>

      <a href="{{ site.data.links-relative.friends || prepend: site.baseurl }}" title="Friends of the PTBO Game Jam">
      <div class="jx-venue one-third columns jx-service-item">
        <div class="jx-venue-item">
          <div class="image-hover">
            <div class="image"><img src="/content/img/community/friends.jpg" hdpi="true" alt="Friends of the PTBO Game Jam"></div>
            <div class="title">Friends of the PTBO Game Jam</div>
          </div>
          <div class="details">Everyone likes to have friends, and we have some of the best there is. Shout outs to all of those awesome people and those that we haven’t met quite yet!</div>
        </div>
      </div>


		</div>
  </div>
</div>

{% include block-ticker.html %}
{% include block-summary.html %}
