---
layout: default
title: Contact
permalink: /contact/
titlebar: title-001.jpg
highlight: contact
---
  <div id="section" class="background-002 jx-container jx-padding container-no-margin">
    <div class="container">
        <div class="sixteen columns">
          <div class="jx-section-title title-light jx-dark">
            <div class="jx-title jx-uppercase">Think before you <span>speak</span></div>
            <div class="jx-hr-title"></div>
          </div>
          <div class="section-content">
                <div class="jx-subtitle"><p>The PTBO Game Jam (and <a href="{{site.data.links.meetup }}">Meetup</a>) is put on by an incredible <a href="/about/#team">team</a> of individuals collaborating to do some pretty incredible things for the community they live and work in. Please understand that while we try our best to be fast in our response times, we are all volunteering our time and have other things on our plates.</p>
                <p>All email related to the event(s) should be directed to <a href="mailto:{{site.email}}">{{site.email}}</a>. It will find it's way to the appropriate team member from there. For all other inquiries, have a look at the <a href="http://dotbunny.com/contact/">dotBunny</a>'s contact page which has some additional options available on it.</p></div>
          </div>
        </div>
    </div>
  </div>
{% include block-contact.html %}
{% include block-ticker.html %}
{% include block-summary.html %}
