---
layout: default
title: Event
titlebar: title-025.jpg
titlebar-video: "https://player.vimeo.com/external/245311724.hd.mp4?s=a3c31b91178295fdaf0bbf385700a792e36a4177&profile_id=175"
titlebar-overlay: /content/img/event/04/04.png
background-style: jx-parallax-fullwidth
hide-breadcrumb: true
map: true
highlight: event
permalink: /event/
---

{% include block-countdown.html %}

<div id="event-header" class="jx-container jx-padding container-no-margin background-001">
  <div class="container">
      <div class="eight columns pad-right">
        <div class="content-spacer">
          <!--<iframe src="https://player.twitch.tv/?channel=ptbogamejam" frameborder="0" allowfullscreen="true" scrolling="no" height="360" width="640"></iframe>-->
          <iframe src="{{ site.data.latest.latest_video }}" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        </div>
      </div>
      <div class="eight columns pad-left">
        <div class="jx-section-title title-light jx-dark">
          <div class="jx-title jx-uppercase">
              Are You <span>Alryte?</span></div>
          <div class="jx-hr-title"></div>
        </div>
        <div class="section-content">
            <p><em>How can we improve on the last one? Don't you worry! It's what we DO.</em></p>
            <p>The fourth incarnation of the PTBO Game Jam is taking over Peterborough, Ontario this winter, <strong>February 23th-25th, 2018</strong> returning to the Kawartha Trades &amp; Technology Centre. As per usual, this event will improve upon our formula, distilling it even further. PTBO Game Jam 04 brings the introduction of the highly requested mini-putt green for all those late-night putt-off challenges.</p>
            <p>Still not sure? Check out some of the <a href="/media/#videos">videos</a> of past events!</p>
            <a href="http://ptbogamejam04.eventbrite.ca" title="Register Now" class="jx-btn-default">Register Now</a>
            <!--<a href="http://twitch.tv/ptbogamejam" title="Watch Live" class="jx-btn-default">Watch Live</a>-->
        </div>
      </div>
  </div>
</div>

{% include block-event-gallery.html %}
{% include block-venue-layout.html %}
<!-- {% include block-event-sponsors.html %} -->
{% include block-location.html %}
{% include block-summary.html %}
