---
layout: default
title: Event
titlebar: title-020.jpg
titlebar-overlay: /content/img/event/03/03.png
background-style: jx-parallax-fullwidth
hide-breadcrumb: true
map: true
highlight: event
permalink: /event/
---

{% include block-countdown.html %}

<div id="event-header" class="jx-container jx-padding container-no-margin background-001">
  <div class="container">
      <div class="eight columns pad-right">
        <div class="content-spacer">
          <iframe src="https://player.twitch.tv/?channel=ptbogamejam" frameborder="0" allowfullscreen="true" scrolling="no" height="360" width="640"></iframe>
          <!-- <iframe src="{{ site.data.latest.latest_video }}" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe> -->
        </div>
      </div>
      <div class="eight columns pad-left">
        <div class="jx-section-title title-light jx-dark">
          <div class="jx-title jx-uppercase">It's About <span>Time!</span></div>
          <div class="jx-hr-title"></div>
        </div>
        <div class="section-content">
            <p><em>Was there ever any doubt that we would be back?</em></p>
            <p>The PTBO Game Jam 03 is taking over Peterborough, Ontario this summer, August 4th-6th, 2017 returning to the Kawartha Trades &amp; Technology Centre.</p>
            <a href="http://twitch.tv/ptbogamejam" title="Watch Live" class="jx-btn-default">Watch Live</a>
        </div>
      </div>
  </div>
</div>

{% include block-event-gallery.html %}
{% include block-venue-layout.html %}
{% include block-event-sponsors.html %}
{% include block-location.html %}
{% include block-summary.html %}
