---
layout: default
title: Schedule
breadcrumb: event
highlight: event
titlebar: title-020.jpg
permalink: /event/schedule/
---
<div id='schedule' class="jx-container container-no-margin jx-padding background-003">
	<div class="container ">
		<div class="jx-section-title-1">
			<div class="jx-pre-title jx-short-border">
				<div class="jx-title-border jx-title-border-light left"></div>
				<div class="jx-title-icon-light"><i class="icon-calendar"></i></div>
				<div class="jx-title-border jx-title-border-light right"></div>
			</div>
			<div class="jx-title jx-title-light jx-uppercase">SCHEDULE</div>
			<div class="jx-subtitle jx-light"><p>It's in the works, we'll release it as soon as possible.</p></div>
		</div>
	</div>
</div>

<!--{% include block-event-schedule.html %}-->
{% include block-summary.html %}
