---
layout: default
title: Friends
permalink: /community/friends/
highlight: friends
breadcrumb: community
titlebar: title-008.jpg
---
<div id='sponsors' class="jx-container jx-light container-no-margin jx-padding background-002">
    <div class="container ">
      <div class="jx-section-title-1">
        <div class="jx-pre-title jx-short-border">
            <div class="jx-title-border jx-title-border-light left"></div>
            <div class="jx-title-icon-light"><i class="icon-home icon-3x"></i></div>
            <div class="jx-title-border jx-title-border-light right"></div>
          </div>
          <div class="jx-title  jx-title-light jx-uppercase">Local Friends</div>
          <div class="jx-subtitle"><p>We love it when the local community recognizes the importance of innovative events like the PTBO Game Jam and support them. Here are some of the awesome local places we happily call our friends.</p></div>
        </div>
        <div id="sponsors-list">
          <div class="friends">
            <ul>
          {% for friend in site.data.friends %}
              {% if friend.type == "local" %}
              <li><a href="{{ friend.url }}"><div class="slide-contents"><img src="{{ friend.img | prepend: site.baseurl }}" alt="{{ friend.name }}"></div></a></li>
              {% endif %}
          {% endfor %}
            </ul>
          </div>
        </div>
    </div>
  </div>
<div id='sponsors' class="jx-container container-no-margin jx-padding background-006">
  <div class="container ">
    <div class="jx-section-title-1 jx-dark">
      <div class="jx-pre-title jx-short-border">
        <div class="jx-title-icon"><i class="icon-users"></i></div>
        </div>
        <div class="jx-title jx-uppercase">Industry Friends</div>
        <div class="jx-subtitle"><p>We have some pretty awesome friends in the industry and this is just a little shout out to all those awesome teams, companies and people that make our industry so great.</p></div>
      </div>
      <div id="sponsors-list">
        <div class="friends">
          <ul>
        {% for friend in site.data.friends %}
            {% if friend.type == "industry" %}
            <li><a href="{{ friend.url }}"><div class="slide-contents"><img src="{{ friend.img | prepend: site.baseurl }}" alt="{{ friend.name }}"></div></a></li>
            {% endif %}
        {% endfor %}
          </ul>
        </div>
      </div>
  </div>
</div>
{% include block-summary.html %}
