<div class="archive-item" id="{{ item.title | slugify }}">
    <div class="image">
        {% if item.screenshots[0] %}
            <img class="max-width" src="{{ item.screenshots[0][0] | prepend: site.baseurl }}" alt="{{ item.title }}"/>
        {% else %}
            <img class="max-width" src="{{ "/content/img/event/game-template.jpg" | prepend: site.baseurl }}" alt="{{ item.title }}"/>
        {% endif %}
    </div>
    <div class="information">
        <strong>Title</strong>
        This is some sort of description.
    </div>
</div>
<!--</div>
   
        <div class="jx-venue one-third columns jx-service-item">
            <div class="jx-venue-item">
                <div class="image-hover">
                    <div class="image">
                        {% if item.screenshots[0] %}
                            <img class="max-width" src="{{ item.screenshots[0][0] | prepend: site.baseurl }}" alt="{{ item.title }}"/>
                        {% else %}
                            <img class="max-width" src="{{ "/content/img/event/game-template.jpg" | prepend: site.baseurl }}" alt="{{ item.title }}"/>
                        {% endif %}
                    </div>
                    {% if item.need-title %}
                    <div class="title">{{ item.title }}</div>
                    {% endif %}
                </div>
                <div class="detail-list">
                    <ul>
                        {% for platform in item.platforms %}
                        <li><i class="fa fa-check-circle-o"></i>{{ platform | downcase }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
</div>-->