<div class="jx-container jx-padding jx-grey-bg">
        	<div class="container">
                <div class="jx-section-title-1">
                    <div class="jx-pre-title jx-short-border">
                        <div class="jx-title-icon"><i class="icon-gamejam"></i></div>
                    </div>
                    <div class="jx-title jx-uppercase">Logos &amp; Icon</div>
                </div>

                <div class="row"></div>
                <div class="row"></div>
                <div class="jx-media-center">

                    <div class="one-third columns">
                        <div class="image jx-image-wrapper brand-image-padding">
                          <img class="brand-logo" src="{{ "/content/img/brand/ptbogamejam-light.png" | prepend: site.baseurl }}" alt="PTBO Game Jam Logo (Light)">
                        </div>
                        <div class="brand-description"><span class="title-dark">PTBO Game Jam Logo (Light)</span>Our logo in its truest form with proper usage of coloring. This logo predominantly is used over light backgrounds (more on the side of white) allowing for all the letters to be clearly visible.</div>
                        <div class="brand-links">
                          <a href="{{ site.data.links-relative.logo-light-png | prepend: site.baseurl }}" class="brand-download">PNG</a>
                          <a href="{{ site.data.links-relative.logo-light-ai | prepend: site.baseurl }}" class="brand-download">AI</a>
                          <a href="{{ site.data.links-relative.logo-light-eps | prepend: site.baseurl }}" class="brand-download">EPS</a>
                        </div>
                    </div>

                    <div class="one-third columns">
                        <div class="image jx-image-wrapper brand-image-padding background-black">
                          <img class="brand-logo" src="{{ "/content/img/brand/ptbogamejam-dark.png" | prepend: site.baseurl }}" alt="PTBO Game Jam Logo (Dark)">
                        </div>
                        <div class="brand-description"><span class="title-dark">PTBO Game Jam Logo (Dark)</span>Our most frequently used version of our branding, allowing for a wide variety of backgrounds. With this logo, we often include a bit of a black outer glow to further the contrast between the logo and its surroundings.</div>
                        <div class="brand-links">
                          <a href="{{ site.data.links-relative.logo-dark-png | prepend: site.baseurl }}" class="brand-download">PNG</a>
                          <a href="{{ site.data.links-relative.logo-dark-ai | prepend: site.baseurl }}" class="brand-download">AI</a>
                          <a href="{{ site.data.links-relative.logo-dark-eps | prepend: site.baseurl }}" class="brand-download">EPS</a>
                        </div>
                    </div>

                    <div class="one-third columns">
                        <div class="image jx-image-wrapper brand-icon-padding">
                          <img class="brand-icon" src="{{ "/content/img/brand/ptbogamejam-icon.png" | prepend: site.baseurl }}" alt="PTBO Game Jam Icon">
                        </div>
                        <div class="brand-description"><span class="title-dark">PTBO Game Jam Icon</span>We very rarely use the icon form of our logo, but should a specific need arise here is a render of it for usage.</div>
                        <div class="brand-links">
                          <a href="{{ site.data.links-relative.logo-icon-png | prepend: site.baseurl }}" class="brand-download">PNG</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
