
      <div id='team' class="jx-container container-no-margin jx-padding jx-black-bg ">
        <div class="container ">
          <div class="jx-team">
            <div class="jx-team-item jx-team-box-content">
              <div class="jx-title jx-uppercase">Meet Our <span>Team</span></div>
              <div class="jx-hr-title"></div>
              <p>Putting on a <em>world class event</em> takes a dedicated team of individuals in-and-around the industry volunteering their time, collaborating on ideas and innovations, and just "getting it done"; it is the hard work of these individuals that continue to make the PTBO Game Jam a success.</p>
            </div>

            <div class="jx-team-item">
              <div class="jx-team-photo jx-image-wrapper"><img width="234" height="189" src="{{ "/content/img/team/dave-bowen.jpg" || prepend: site.baseurl }}" class="attachment-team-image" alt="Dave Bowen" />
                <div class="jx-team-overlayer"></div>
                <div class="jx-image-hover-info">
                  <div class="jx-team-name">Dave Bowen</div>
                  <div class="jx-team-pos">Volunteer Lead</div>
                </div>
              </div>
            </div>

            <div class="jx-team-item">
              <div class="jx-team-photo jx-image-wrapper"><img width="234" height="189" src="{{ "/content/img/team/matthew-davey.jpg" || prepend: site.baseurl }}" class="attachment-team-image" alt="Matthew Davey" />
                <div class="jx-team-overlayer"></div>
                <div class="jx-image-hover-info">
                  <div class="jx-team-name">Matthew Davey</div>
                  <div class="jx-team-pos">Founder &amp; Organizer</div>
                </div>
              </div>
            </div>

            <div class="jx-team-item">
              <div class="jx-team-photo jx-image-wrapper"><img width="234" height="189" src="{{ "/content/img/team/robert-french.jpg" || prepend: site.baseurl }}" class="attachment-team-image" alt="Robert French" />
                <div class="jx-team-overlayer"></div>
                <div class="jx-image-hover-info">
                  <div class="jx-team-name">Robert French</div>
                  <div class="jx-team-pos">Educational Advisor</div>
                </div>
              </div>
            </div>

            <div class="jx-team-item">
              <div class="jx-team-photo jx-image-wrapper"><img width="234" height="189" src="{{ "/content/img/team/phil-laliberte.jpg" || prepend: site.baseurl }}" class="attachment-team-image" alt="Phil Laliberte" />
                <div class="jx-team-overlayer"></div>
                <div class="jx-image-hover-info">
                  <div class="jx-team-name">Phil Laliberte</div>
                  <div class="jx-team-pos">Data Advisor</div>
                </div>
              </div>
            </div>

            <div class="jx-team-item">
              <div class="jx-team-photo jx-image-wrapper"><img width="234" height="189" src="{{ "/content/img/team/amanda-rochon.jpg" || prepend: site.baseurl }}" class="attachment-team-image" alt="Amanda Rochon" />
                <div class="jx-team-overlayer"></div>
                <div class="jx-image-hover-info">
                  <div class="jx-team-name">Amanda Rochon</div>
                  <div class="jx-team-pos">Event Lead</div>
                </div>
              </div>
            </div>

            <div class="jx-team-item">
              <div class="jx-team-photo jx-image-wrapper"><img width="234" height="189" src="{{ "/content/img/team/volunteer.jpg" || prepend: site.baseurl }}" class="attachment-team-image" alt="Volunteer Now!" />
                <div class="jx-team-overlayer"></div>
                <div class="jx-image-hover-info">
                  <div class="jx-team-name">Awesome?</div>
                  <div class="jx-team-pos">Volunteer.</div>
                </div>
              </div>
            </div>




          </div>
        </div>
      </div>
