<div class="jx-container">
				<div class="container">
					<div class="jx-venue-box jx-default-bg">
					<h1>VENUE</h1>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. montes</p>

					<div class="jx-hotel-name jx-uppercase">MAriot Hotel, Browadway</div>

					<div class="jx-venue-address">
						<div class="jx-venue-heading"><i class="fa fa-map-marker"></i>Address</div>
						<div class="jx-address-1">339 Marina Street, New York, NY 10001</div>
						<div class="jx-address-2">1 987 586-45432</div>
						<div class="jx-address-3">4.9 mi / 7.9 km from Downtown</div>
					</div>
					</div>
				</div>
				<div class="jx-google-map">
					<div id="map" class="jx-map" style="height:400px;"></div>
				</div>
			</div>
        <!-- EOF Google Map -->


        <div class="jx-summary-info">
				<div class="container">

					<ul class="jx-summary-box">
						<li class="one-third columns">
							<div class="jx-location-event">
								<i class="line-icon icon-location"></i>
								<div class="jx-info">
									<div class="jx-bar-head">1.25km</div>
									<div class="jx-bar-title">Venera, Buston 25</div>
								</div>
							</div>
						</li>
						<li class="one-third columns">
							<div class="jx-hotline-event">
								<i class="line-icon icon-globe"></i>
								<div class="jx-info">
									<div class="jx-bar-head">80081 80121</div>
									<div class="jx-bar-title">support@ievent.com</div>
								</div>
							</div>
						</li>
						<li class="one-third columns">
							<div class="jx-subscribe-event">
								<h2>Subscribe To Newsletter</h2>
								<form method="post" action="#">
									<div class="jx-newsletter-box">
									<input type="text" name="jx-newsltter-email" placeholder="Type Your Email" value="" />
									</div>

									<div class="jx-newsletter-submit">
									<input type="submit" name="jx-newsltter-submit" value="Submit" />
									</div>
								</form>
							</div>
						</li>
					</ul>
				</div>
			</div>
