<div class="jx-container jx-padding jx-grey-bg">

        	<div class="container">

                <div class="jx-section-title-1">
                    <div class="jx-pre-title jx-short-border">
                        <div class="jx-title-border left"></div>
                        <div class="jx-title-icon"><i class="icon-docs"></i></div>
                        <div class="jx-title-border right"></div>
                    </div>
                    <div class="jx-title jx-uppercase">Media Releases</div>
                </div>
                <!-- Section Title -->
                <div class="row"></div>
                <div class="row"></div>


                <div class="jx-media-center">
                  {% for post in site.categories.media-releases limit:3  %}
                    <div class="one-third columns">
                        <div class="image jx-image-wrapper">
                          <img src="{{ "/content/img/post/" | prepend: site.baseurl }}{{ post.code }}.jpg" hdpi="true" alt="{{ post.title }}">
                          <div class="jx-image-overlay"></div>
                            <div class="jx-image-hover">
                              <a href="{{ post.url | prepend: site.baseurl }}" class="jx-blog-more"><i class="icon-doc"></i></a>
                            </div>
                            <!-- Image Hover -->
                        </div>
                        <!-- Image -->
                        <div class="title">{{ post.title }}</div>
                        <!-- Title -->
                        <div class="date"><i class="line-icon icon-calendar"></i> <span>{{ post.date | date: "%B %e, %Y" }}</span><a class="release-pdf" href="{{ post.pdf | prepend: "/media/releases/" | prepend: site.baseurl }}"><i class="icon-file-pdf"></i><span>PDF</span></a></div>
                        <!-- Date -->
                        <div class="description">{{ post.excerpt }}</div>
                        <!-- Description -->
                    </div>
                  {% endfor %}

                </div>

                <div class="row"></div>
                <div class="row"></div>

                <div class="jx-btn-center">
                <a href="{{ site.data.links-relative.media-releases | prepend: site.baseurl }}" class="jx-btn-default">READ ALL</a>
                </div>
                <!-- Read More Button -->

            </div>
        </div>
