<div id="latest-countdown">
	<div class="container">
		<div class="jx-countdown-box-2" data-time="{{ site.data.latest.date_countdown }}">
			<div class="jx-countdown">
				<div class="countdown">
					<div class="counter-wrapper">
						<ul>
							<li>
								<div class="days count">51</div>
								<div class="textDays count-text">Days</div>
							</li>
							<li>
								<div class="hours count">04</div>
								<div class="textHours count-text">Hours</div>
							</li>
							<div class="hidden-break"></div>
							<li>
								<div class="minutes count">28</div>
								<div class="textmins count-text">Mins</div>
							</li>
							<li>
								<div class="seconds count">28</div>
								<div class="textSecs count-text">Secs</div>
							</li>
						</ul>
						<div class="jC-clear"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
