      <div  class="jx-container container-no-margin jx-padding jx-grey-bg ">
        <div class='parallax-no-height jx-tint-black' style='background-image:url({{ "/content/img/backgrounds/background-004.jpg" || prepend: site.baseurl }});'></div>
        <div class="container ">
          <div class="jx-countup ">

            <div class="four columns count-item">
              <div class="jx-counter-item">
                <div class="jx-counter-icon"><i class="icon-ticket right-spacer"></i></div>
                <div class="jx-counter-info">
                  <div class="jx-counter-text">Spots</div>
                  <div class="jx-counter-number jx-counter-up count-1" value="{{ site.data.stats.prizes }}">{{ site.data.latest.spots }}</div>
                </div>
              </div>
            </div>

            <div class="four columns count-item">
              <div class="jx-counter-item">
                <div class="jx-counter-icon"><i class="icon-clock right-spacer"></i></div>
                <div class="jx-counter-info">
                  <div class="jx-counter-text">Hours</div>
                  <div class="jx-counter-number jx-counter-up count-2" value="{{ site.data.latest.hours_work }}">{{ site.data.latest.hours_work }}</div>
                </div>
              </div>
            </div>

            <div class="four columns count-item">
              <div class="jx-counter-item">
                <div class="jx-counter-icon"><i class="icon-award right-spacer"></i></div>
                <div class="jx-counter-info">
                  <div class="jx-counter-text">Prizes</div>
                  <div class="jx-counter-number jx-counter-up count-3" value="{{ site.data.latest.prizes  }}">{{ site.data.latest.prizes }}</div>
                </div>
              </div>
            </div>

            <div class="four columns count-item">
              <div class="jx-counter-item">
                <div class="jx-counter-icon"><i class="icon-thumbs-up right-spacer"></i></div>
                <div class="jx-counter-info">
                  <div class="jx-counter-text">Sponsors</div>
                  <div class="jx-counter-number jx-counter-up">{{ site.data.latest-sponsors | size  }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
