
      <div id='team' class="jx-container container-no-margin jx-padding jx-black-bg ">

        <div class="container ">
          <div class="jx-team">
            <div class="jx-team-item jx-team-box-content">
              <a name="team"><div class="jx-title jx-uppercase">Meet Our <span>Team</span></div></a>
              <div class="jx-hr-title"></div>
              <p>Putting on a <em>world class event</em> takes a dedicated team of individuals in-and-around the industry volunteering their time, collaborating on ideas and innovations, and just "getting it done"; it is the hard work of these individuals that continue to make the PTBO Game Jam a success.</p>
            </div>

          {% for member in site.data.staff  %}

            <div class="jx-team-item">
              <div class="jx-team-photo jx-image-wrapper"><img width="234" height="189" src="{{ member.picture || prepend: site.baseurl }}" class="attachment-team-image" alt="{{ member.name }}" />
                <div class="jx-team-overlayer"></div>
                <div class="jx-image-hover-info">
                  <div class="jx-team-name">{{ member.name }}</div>
                  <div class="jx-team-pos">{{ member.position }}</div>
                  <div class="team-social">
                		<ul>
                      {% if member.webpage %}<li><a href="{{ member.webpage }}"><i class="icon-home"></i></a></li>{% endif %}
                      {% if member.twitter %}<li><a href="{{ member.twitter }}"><i class="icon-twitter"></i></a></li>{% endif %}
                      {% if member.linkedin  %}<li><a href="{{ member.linkedin }}"><i class="icon-linkedin"></i></a></li>{% endif %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            {% endfor %}


            <div class="jx-team-item">
              <div class="jx-team-photo jx-image-wrapper"><img width="234" height="189" src="{{ "/content/img/team/volunteer.jpg" || prepend: site.baseurl }}" class="attachment-team-image" alt="Volunteer Now!" />
                <div class="jx-team-overlayer"></div>
                <div class="jx-image-hover-info">
                  <a href="{{ site.volunteer_email }}">
                    <div class="jx-team-name">Awesome?</div>
                    <div class="jx-team-pos">Volunteer.</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
