<div id='gallery' class="jx-container container-no-margin jx-padding background-003">

            <!-- Background Image -->

            <!-- Background Icon -->
            <div class="container ">
                <div class="jx-section-title-1 jx-dark">

                    <div class="jx-pre-title jx-short-border">
                    <div class="jx-title-icon-light"><i class="icon-gamejam"></i></div>
                    </div>
                    <div class="jx-title jx-title-light jx-uppercase">Event Branding</div>
                    <div class="jx-subtitle"><p>Each of our events has a specific branding which uniquely identifies it in the series of PTBO Game Jam events. Often we create signature pieces of artwork for promotional purposes which are made available to media..</p></div>
                    <!-- Section Title -->

                </div>
                <div class="jx-grid-item">
                    <div class="jx-image jx-image-wrapper"><img width="400" src="{{ "/content/img/event/01/PTBOGameJam01-Light.jpg" | prepend: site.baseurl }}" alt="PTBO Game Jam 01 Logo (Transparent)" hdpi="true"/>
                      <a href="{{ "/files/events/01/PTBOGameJam01-Light.png" | prepend: site.baseurl }}" title="TBO Game Jam 01 Logo (Transparent)">
                        <div class="jx-image-overlayer"></div>
                        <div class="jx-image-hover"><i class="icon-link"></i></div>
                      </a>
                    </div>
                    <div class="logo-spacer"></div>
                    <div class="jx-image jx-image-wrapper"><img width="400" src="{{ "/content/img/event/01/PTBOGameJam01-Dark.jpg" | prepend: site.baseurl }}" alt="PTBO Game Jam 01 Logo (Transparent)" hdpi="true"/>
                      <a href="{{ "/files/events/01/PTBOGameJam01-Dark.png" | prepend: site.baseurl }}" title="TBO Game Jam 01 Logo (Transparent)">
                        <div class="jx-image-overlayer"></div>
                        <div class="jx-image-hover"><i class="icon-link"></i></div>
                      </a>
                    </div>
                </div>
                <div class="jx-grid-item">
                    <div class="jx-image jx-image-wrapper"><img width="400" src="{{ "/content/img/event/01/PTBOGameJam01-Banner.jpg" | prepend: site.baseurl }}" alt="01 Banner" hdpi="true"/>
                      <a href="{{ "/files/events/01/PTBOGameJam01-Banner.png" | prepend: site.baseurl }}" title="01 Banner">
                        <div class="jx-image-overlayer"></div>
                        <div class="jx-image-hover"><i class="icon-link"></i></div>
                      </a>
                    </div>
                </div>
            </div>
        </div>
