      <div  class="jx-container container-no-margin jx-padding jx-grey-bg ">
        <div class='parallax-no-height jx-tint-black' style='background-image:url({{ "/content/img/backgrounds/background-000.jpg" || prepend: site.baseurl }});'></div>
        <div class="container ">
          <div class="jx-countup ">

            <div class="four columns count-item">
              <div class="jx-counter-item">
                <div class="jx-counter-icon"><i class="fa fa-trophy"></i></div>
                <div class="jx-counter-info">
                  <div class="jx-counter-text">Prizes Awarded</div>
                  <div class="jx-counter-number jx-counter-up count-1" value="{{ site.stats_prizes }}">{{ site.stats_prizes }}</div>
                </div>
              </div>
            </div>

            <div class="four columns count-item">
              <div class="jx-counter-item">
                <div class="jx-counter-icon"><i class="fa fa-gamepad"></i></div>
                <div class="jx-counter-info">
                  <div class="jx-counter-text">Games Made</div>
                  <div class="jx-counter-number jx-counter-up count-2" value="{{ site.stats_games }}">{{ site.stats_games }}</div>
                </div>
              </div>
            </div>

            <div class="four columns count-item">
              <div class="jx-counter-item">
                <div class="jx-counter-icon"><i class="fa fa-cutlery"></i></div>
                <div class="jx-counter-info">
                  <div class="jx-counter-text">Pizza Slices Eaten</div>
                  <div class="jx-counter-number jx-counter-up count-3" value="{{ site.stats_pizza }}">{{ site.stats_pizza }}</div>
                </div>
              </div>
            </div>

            <div class="four columns count-item">
              <div class="jx-counter-item">
                <div class="jx-counter-icon"><i class="fa fa-bed"></i></div>
                <div class="jx-counter-info">
                  <div class="jx-counter-text">Hours Slept</div>
                  <div class="jx-counter-number jx-counter-up">{{ site.stats_sleep }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
