	<div class="jx-container">
		<div class="container">
			<div class="jx-venue-box">
				<div class="jx-hotel-name jx-uppercase">{{ site.data.latest.location }}</div>
				<div class="jx-venue-address">
					<div class="jx-address-1">{{ site.data.latest.address-1 }}</div>
					<div class="jx-address-2">{{ site.data.latest.address-2 }}</div>
					<div class="jx-address-3">{{ site.data.latest.address-3 }}</div>
				</div>
			</div>
		</div>
		<div class="jx-google-map">
			<div id="map" class="jx-map" style="height:400px;"></div>
		</div>
	</div>
