<div id='gallery' class="jx-container container-no-margin jx-padding background-005">

            <!-- Background Image -->

            <!-- Background Icon -->
            <div class="container ">
                <div class="jx-section-title-1 jx-dark">

                    <div class="jx-pre-title jx-short-border">
                    <!-- <div class="jx-title-border left"></div> -->
                    <div class="jx-title-icon"><i class="icon-fort-awesome color-white"></i></div>
                    <!-- <div class="jx-title-border right"></div> -->
                    </div>
                    <div class="jx-title jx-uppercase">MEET THE VENUE</div>
                    <div class="jx-subtitle"><p>Ever wondered what a $35 million-dollar building looks like? This iconic building was designed by <a href="https://ca.perkinswill.com/">Perkins + Will</a> to seamlessly bring together theoretical teaching and applied learning in a state-of-the-art facility. Here’s a peak of the amazing space where our jammers will be creating their master pieces for the PTBO Game Jam 02.
</p></div>
                    <!-- Section Title -->

                </div>

                <div class="jx-grid-item grid-item-height2 grid-item-width2">
                    <div class="jx-image jx-image-wrapper"><img width="400" height="400" src="{{ "/content/img/event/02/venue/venue-011-800.jpg" | prepend: site.baseurl }}" alt="KTTC" />

                        <div class="jx-image-overlayer"></div>
                        <div class="jx-image-hover">
                            <a herf="{{ "/content/img/event/02/venue/venue-011-1800.jpg" | prepend: site.baseurl }}" data-rel="prettyPhoto"><i class="icon-zoom-in"></i></a>
                        </div>
                        <!--Image Hover -->
                    </div>
                </div>

                <div class="jx-grid-item">
                    <div class="jx-date-box">
                        <div class="jx-date">19 Feb</div>
                        <div class="jx-day">Day 1</div>
                    </div>
                </div>

                <div class="jx-grid-item ">
                    <div class="jx-image jx-image-wrapper"><img width="400" height="400" src="{{ "/content/img/event/02/venue/venue-007-400.jpg" | prepend: site.baseurl }}" alt="KTTC" />

                        <div class="jx-image-overlayer"></div>
                        <div class="jx-image-hover">
                            <a herf="{{ "/content/img/event/02/venue/venue-007-1800.jpg" | prepend: site.baseurl }}" data-rel="prettyPhoto"><i class="icon-zoom-in"></i></a>
                        </div>
                    </div>
                </div>

                <div class="jx-grid-item ">
                    <div class="jx-image jx-image-wrapper"><img width="400" height="400" src="{{ "/content/img/event/02/venue/venue-009-400.jpg" | prepend: site.baseurl }}" alt="KTTC" />

                        <div class="jx-image-overlayer"></div>
                        <div class="jx-image-hover">
                            <a herf="{{ "/content/img/event/02/venue/venue-009-1800.jpg" | prepend: site.baseurl }}" data-rel="prettyPhoto"><i class="icon-zoom-in"></i></a>
                        </div>
                    </div>
                </div>

                <div class="jx-grid-item ">
                    <div class="jx-image jx-image-wrapper"><img width="400" height="400" src="{{ "/content/img/event/02/venue/venue-006-400.jpg" | prepend: site.baseurl }}" alt="KTTC" />

                        <div class="jx-image-overlayer"></div>
                        <div class="jx-image-hover">
                            <a herf="{{ "/content/img/event/02/venue/venue-006-1800.jpg" | prepend: site.baseurl }}" data-rel="prettyPhoto"><i class="icon-zoom-in"></i></a>
                        </div>
                    </div>
                </div>

                <div class="jx-grid-item ">
                    <div class="jx-image jx-image-wrapper"><img width="400" height="400" src="{{ "/content/img/event/02/venue/venue-005-400.jpg" | prepend: site.baseurl }}" alt="KTTC" />

                        <div class="jx-image-overlayer"></div>
                        <div class="jx-image-hover">
                            <a herf="{{ "/content/img/event/02/venue/venue-005-1800.jpg" | prepend: site.baseurl }}" data-rel="prettyPhoto"><i class="icon-zoom-in"></i></a>
                        </div>
                    </div>
                </div>


                <div class="jx-grid-item ">
                    <div class="jx-image jx-image-wrapper"><img width="400" height="400" src="{{ "/content/img/event/02/venue/venue-000-400.jpg" | prepend: site.baseurl }}" alt="KTTC" />

                        <div class="jx-image-overlayer"></div>
                        <div class="jx-image-hover">
                            <a herf="{{ "/content/img/event/02/venue/venue-000-1800.jpg" | prepend: site.baseurl }}" data-rel="prettyPhoto"><i class="icon-zoom-in"></i></a>
                        </div>
                    </div>
                </div>

                <div class="jx-grid-item ">
                    <div class="jx-image jx-image-wrapper"><img width="400" height="400" src="{{ "/content/img/event/02/venue/venue-003-400.jpg" | prepend: site.baseurl }}" alt="KTTC" />

                        <div class="jx-image-overlayer"></div>
                        <div class="jx-image-hover">
                            <a herf="{{ "/content/img/event/02/venue/venue-003-1800.jpg" | prepend: site.baseurl }}" data-rel="prettyPhoto"><i class="icon-zoom-in"></i></a>
                        </div>
                    </div>
                </div>

                <div class="jx-grid-item ">
                    <div class="jx-image jx-image-wrapper"><img width="400" height="400" src="{{ "/content/img/event/02/venue/venue-001-400.jpg" | prepend: site.baseurl }}" alt="KTTC" />

                        <div class="jx-image-overlayer"></div>
                        <div class="jx-image-hover">
                            <a herf="{{ "/content/img/event/02/venue/venue-001-1800.jpg" | prepend: site.baseurl }}" data-rel="prettyPhoto"><i class="icon-zoom-in"></i></a>
                        </div>
                    </div>
                </div>

                <div class="jx-grid-item ">
                    <div class="jx-image jx-image-wrapper"><img width="400" height="400" src="{{ "/content/img/event/02/venue/venue-002-400.jpg" | prepend: site.baseurl }}" alt="KTTC" />

                        <div class="jx-image-overlayer"></div>
                        <div class="jx-image-hover">
                            <a herf="{{ "/content/img/event/02/venue/venue-002-1800.jpg" | prepend: site.baseurl }}" data-rel="prettyPhoto"><i class="icon-zoom-in"></i></a>
                        </div>
                    </div>
                </div>

                <div class="jx-grid-item">
                    <div class="jx-image jx-image-wrapper"><img width="400" height="400" src="{{ "/content/img/event/02/venue/venue-004-400.jpg" | prepend: site.baseurl }}" alt="KTTC" />
                        <div class="jx-image-overlayer"></div>
                        <div class="jx-image-hover">
                            <a herf="{{ "/content/img/event/02/venue/venue-004-1800.jpg" | prepend: site.baseurl }}" data-rel="prettyPhoto"><i class="icon-zoom-in"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
