<div class="jx-container jx-padding jx-grey-bg">
        	<div class="container">
                <div class="jx-section-title-1">
                    <div class="jx-pre-title jx-short-border">
                        <div class="jx-title-icon"><i class="icon-eye"></i></div>
                    </div>
                    <div class="jx-title jx-uppercase">Colors</div>
                </div>

                <div class="row"></div>
                <div class="row"></div>
                <div class="jx-media-center">

                    <div class="one-third columns">
                        <div class="image jx-image-wrapper">
                          <img src="/content/img/post/2016-12-18-ptbo-game-jam-02@2x.jpg" hdpi="true" alt="PTBO Game Jam 02">
                          <div class="jx-image-overlay"></div>
                            <div class="jx-image-hover">
                              <a href="/blog/2016/12/18/ptbo-game-jam-02/" class="jx-blog-more"><i class="icon-doc"></i></a>
                            </div>
                            <!-- Image Hover -->
                        </div>
                        <!-- Image -->
                        <div class="title">PTBO Game Jam 02</div>
                        <!-- Title -->
                        <div class="date"><i class="icon-calendar"></i> <span>December 18, 2016</span><a class="release-pdf" href="/files/releases/2016-12-18-ptbo-game-jam-02.pdf"><i class="icon-file-pdf"></i><span>PDF</span></a></div>
                        <!-- Date -->
                        <div class="description">We’re back! Bigger and better than ever before.</div>
                        <!-- Description -->
                    </div>

                    <div class="one-third columns">
                        <div class="image jx-image-wrapper">
                          <img src="/content/img/post/2016-08-13-wrap-up@2x.jpg" hdpi="true" alt="PTBO Game Jam 01 Wrap-Up">
                          <div class="jx-image-overlay"></div>
                            <div class="jx-image-hover">
                              <a href="/blog/2016/08/13/wrap-up/" class="jx-blog-more"><i class="icon-doc"></i></a>
                            </div>
                            <!-- Image Hover -->
                        </div>
                        <!-- Image -->
                        <div class="title">PTBO Game Jam 01 Wrap-Up</div>
                        <!-- Title -->
                        <div class="date"><i class="icon-calendar"></i> <span>August 13, 2016</span><a class="release-pdf" href="/files/releases/2016-08-16-wrap-up.pdf"><i class="icon-file-pdf"></i><span>PDF</span></a></div>
                        <!-- Date -->
                        <div class="description">The inaugural PTBO Game Jam was an astounding success for event organizers, participants and the tech community.</div>
                        <!-- Description -->
                    </div>

                    <div class="one-third columns">
                        <div class="image jx-image-wrapper">
                          <img src="/content/img/post/2016-08-10-inaugural-event@2x.jpg" hdpi="true" alt="Inaugural PTBO Game Jam Event">
                          <div class="jx-image-overlay"></div>
                            <div class="jx-image-hover">
                              <a href="/blog/2016/08/10/inaugural-event/" class="jx-blog-more"><i class="icon-doc"></i></a>
                            </div>
                            <!-- Image Hover -->
                        </div>
                        <!-- Image -->
                        <div class="title">Inaugural PTBO Game Jam Event</div>
                        <!-- Title -->
                        <div class="date"><i class="icon-calendar"></i> <span>August 10, 2016</span><a class="release-pdf" href="/files/releases/2016-08-10-inaugural-event.pdf"><i class="icon-file-pdf"></i><span>PDF</span></a></div>
                        <!-- Date -->
                        <div class="description">The PTBO Game Jam is a gathering of industry professionals, students, hobbyists and those eager to learn with the common goal of creating video games in a short period of time.</div>
                        <!-- Description -->
                    </div>


                </div>
            </div>
        </div>
