<div id='gallery' class="jx-container container-no-margin jx-padding background-003">

            <!-- Background Image -->

            <!-- Background Icon -->
            <div class="container ">
                <div class="jx-section-title-1 jx-dark">

                    <div class="jx-pre-title jx-short-border">
                    <div class="jx-title-icon-light"><i class="icon-gamejam"></i></div>
                    </div>
                    <div class="jx-title jx-title-light jx-uppercase">Event Branding</div>
                    <div class="jx-subtitle"><p>Each of our events has a specific branding which uniquely identifies it in the series of PTBO Game Jam events. Often we create signature pieces of artwork for promotional purposes which are made available to media. If you require a higher resolution version of the provided artwork, please don’t hesitate to ask. Vector versions of some event specific branding is available upon request, and don't forget to have a quick peak at our actual <a href="{{ site.data.links-relative.brand }}" title="Brand Guidelines">Brand Guidelines</a>.</p></div>
                    <!-- Section Title -->

                </div>

                 <!-- START 04 -->
                 <div class="jx-grid-item">
                  <div class="jx-image jx-image-wrapper"><img width="400" src="{{ "/content/img/event/04/PTBOGameJam04-Light.jpg" | prepend: site.baseurl }}" alt="PTBO Game Jam 04 Logo (Transparent)" srcset="{{ "/content/img/event/04/PTBOGameJam04-Light.jpg" | prepend: site.baseurl }} 1x, {{ "/content/img/event/04/PTBOGameJam04-Light@2x.jpg" | prepend: site.baseurl }} 2x" />
                    <a href="{{ "/files/events/04/PTBOGameJam04-Light.png" | prepend: site.baseurl }}" title="PTBO Game Jam 04 Logo (Transparent)">
                      <div class="jx-image-overlayer"></div>
                      <div class="jx-image-hover"><i class="icon-link"></i></div>
                    </a>
                  </div>
                  <div class="logo-spacer"></div>
                  <div class="jx-image jx-image-wrapper"><img width="400" src="{{ "/content/img/event/04/PTBOGameJam04-Dark.jpg" | prepend: site.baseurl }}" alt="PTBO Game Jam 04 Logo (Transparent)" srcset="{{ "/content/img/event/04/PTBOGameJam04-Dark.jpg" | prepend: site.baseurl }} 1x, {{ "/content/img/event/04/PTBOGameJam04-Dark@2x.jpg" | prepend: site.baseurl }} 2x" />
                    <a href="{{ "/files/events/04/PTBOGameJam04-Dark.png" | prepend: site.baseurl }}" title="PTBO Game Jam 04 Logo (Transparent)">
                      <div class="jx-image-overlayer"></div>
                      <div class="jx-image-hover"><i class="icon-link"></i></div>
                    </a>
                  </div>
                </div>
                <div class="jx-grid-item">
                    <div class="jx-image jx-image-wrapper"><img width="400" src="{{ "/content/img/event/04/PTBOGameJam04-Banner.jpg" | prepend: site.baseurl }}" alt="04 Banner" srcset="{{ "/content/img/event/04/PTBOGameJam04-Banner.jpg" | prepend: site.baseurl }} 1x, {{ "/content/img/event/04/PTBOGameJam04-Banner@2x.jpg" | prepend: site.baseurl }} 2x" />
                      <a href="{{ "/files/events/04/PTBOGameJam04-Banner.png" | prepend: site.baseurl }}" title="04 Banner">
                        <div class="jx-image-overlayer"></div>
                        <div class="jx-image-hover"><i class="icon-link"></i></div>
                      </a>
                    </div>
                </div>
              <!-- END 04 -->

                <!-- START 03 -->
                <div class="jx-grid-item">
                    <div class="jx-image jx-image-wrapper"><img width="400" src="{{ "/content/img/event/03/PTBOGameJam03-Light.jpg" | prepend: site.baseurl }}" alt="PTBO Game Jam 03 Logo (Transparent)" srcset="{{ "/content/img/event/03/PTBOGameJam03-Light.jpg" | prepend: site.baseurl }} 1x, {{ "/content/img/event/03/PTBOGameJam03-Light@2x.jpg" | prepend: site.baseurl }} 2x" />
                      <a href="{{ "/files/events/03/PTBOGameJam03-Light.png" | prepend: site.baseurl }}" title="PTBO Game Jam 03 Logo (Transparent)">
                        <div class="jx-image-overlayer"></div>
                        <div class="jx-image-hover"><i class="icon-link"></i></div>
                      </a>
                    </div>
                    <div class="logo-spacer"></div>
                    <div class="jx-image jx-image-wrapper"><img width="400" src="{{ "/content/img/event/03/PTBOGameJam03-Dark.jpg" | prepend: site.baseurl }}" alt="PTBO Game Jam 03 Logo (Transparent)" srcset="{{ "/content/img/event/03/PTBOGameJam03-Dark.jpg" | prepend: site.baseurl }} 1x, {{ "/content/img/event/03/PTBOGameJam03-Dark@2x.jpg" | prepend: site.baseurl }} 2x" />
                      <a href="{{ "/files/events/03/PTBOGameJam03-Dark.png" | prepend: site.baseurl }}" title="PTBO Game Jam 03 Logo (Transparent)">
                        <div class="jx-image-overlayer"></div>
                        <div class="jx-image-hover"><i class="icon-link"></i></div>
                      </a>
                    </div>
                </div>
                <div class="jx-grid-item">
                    <div class="jx-image jx-image-wrapper"><img width="400" src="{{ "/content/img/event/03/PTBOGameJam03-Banner.jpg" | prepend: site.baseurl }}" alt="03 Banner" srcset="{{ "/content/img/event/03/PTBOGameJam03-Banner.jpg" | prepend: site.baseurl }} 1x, {{ "/content/img/event/03/PTBOGameJam03-Banner@2x.jpg" | prepend: site.baseurl }} 2x" />
                      <a href="{{ "/files/events/03/PTBOGameJam03-Banner.png" | prepend: site.baseurl }}" title="03 Banner">
                        <div class="jx-image-overlayer"></div>
                        <div class="jx-image-hover"><i class="icon-link"></i></div>
                      </a>
                    </div>
                </div>
                <!-- END 03 -->

                <!-- START 02 -->
                <div class="jx-grid-item">
                    <div class="jx-image jx-image-wrapper"><img width="400" src="{{ "/content/img/event/02/PTBOGameJam02-Light.jpg" | prepend: site.baseurl }}" alt="PTBO Game Jam 02 Logo (Transparent)" srcset="{{ "/content/img/event/02/PTBOGameJam02-Light.jpg" | prepend: site.baseurl }} 1x, {{ "/content/img/event/02/PTBOGameJam02-Light@2x.jpg" | prepend: site.baseurl }} 2x" />
                      <a href="{{ "/files/events/02/PTBOGameJam02-Light.png" | prepend: site.baseurl }}" title="PTBO Game Jam 02 Logo (Transparent)">
                        <div class="jx-image-overlayer"></div>
                        <div class="jx-image-hover"><i class="icon-link"></i></div>
                      </a>
                    </div>
                    <div class="logo-spacer"></div>
                    <div class="jx-image jx-image-wrapper"><img width="400" src="{{ "/content/img/event/02/PTBOGameJam02-Dark.jpg" | prepend: site.baseurl }}" alt="PTBO Game Jam 02 Logo (Transparent)" srcset="{{ "/content/img/event/02/PTBOGameJam02-Dark.jpg" | prepend: site.baseurl }} 1x, {{ "/content/img/event/02/PTBOGameJam02-Dark@2x.jpg" | prepend: site.baseurl }} 2x" />
                      <a href="{{ "/files/events/02/PTBOGameJam02-Dark.png" | prepend: site.baseurl }}" title="PTBO Game Jam 02 Logo (Transparent)">
                        <div class="jx-image-overlayer"></div>
                        <div class="jx-image-hover"><i class="icon-link"></i></div>
                      </a>
                    </div>
                </div>
                <div class="jx-grid-item">
                    <div class="jx-image jx-image-wrapper"><img width="400" src="{{ "/content/img/event/02/PTBOGameJam02-Banner.jpg" | prepend: site.baseurl }}" alt="02 Banner" srcset="{{ "/content/img/event/02/PTBOGameJam02-Banner.jpg" | prepend: site.baseurl }} 1x, {{ "/content/img/event/02/PTBOGameJam02-Banner@2x.jpg" | prepend: site.baseurl }} 2x" />
                      <a href="{{ "/files/events/02/PTBOGameJam02-Banner.png" | prepend: site.baseurl }}" title="02 Banner">
                        <div class="jx-image-overlayer"></div>
                        <div class="jx-image-hover"><i class="icon-link"></i></div>
                      </a>
                    </div>
                </div>
                <!-- END 02 -->

                <!-- START 01 -->
                <div class="jx-grid-item">
                    <div class="jx-image jx-image-wrapper"><img width="400" src="{{ "/content/img/event/01/PTBOGameJam01-Light.jpg" | prepend: site.baseurl }}" alt="PTBO Game Jam 01 Logo (Transparent)"  srcset="{{ "/content/img/event/01/PTBOGameJam01-Light.jpg" | prepend: site.baseurl }} 1x, {{ "/content/img/event/01/PTBOGameJam01-Light@2x.jpg" | prepend: site.baseurl }} 2x" />
                      <a href="{{ "/files/events/01/PTBOGameJam01-Light.png" | prepend: site.baseurl }}" title="PTBO Game Jam 01 Logo (Transparent)">
                        <div class="jx-image-overlayer"></div>
                        <div class="jx-image-hover"><i class="icon-link"></i></div>
                      </a>
                    </div>
                    <div class="logo-spacer"></div>
                    <div class="jx-image jx-image-wrapper"><img width="400" src="{{ "/content/img/event/01/PTBOGameJam01-Dark.jpg" | prepend: site.baseurl }}" alt="PTBO Game Jam 01 Logo (Transparent)" srcset="{{ "/content/img/event/01/PTBOGameJam01-Dark.jpg" | prepend: site.baseurl }} 1x, {{ "/content/img/event/01/PTBOGameJam01-Dark@2x.jpg" | prepend: site.baseurl }} 2x" />
                      <a href="{{ "/files/events/01/PTBOGameJam01-Dark.png" | prepend: site.baseurl }}" title="PTBO Game Jam 01 Logo (Transparent)">
                        <div class="jx-image-overlayer"></div>
                        <div class="jx-image-hover"><i class="icon-link"></i></div>
                      </a>
                    </div>
                </div>
                <div class="jx-grid-item">
                    <div class="jx-image jx-image-wrapper"><img width="400" src="{{ "/content/img/event/01/PTBOGameJam01-Banner.jpg" | prepend: site.baseurl }}" alt="01 Banner" srcset="{{ "/content/img/event/01/PTBOGameJam01-Banner.jpg" | prepend: site.baseurl }} 1x, {{ "/content/img/event/01/PTBOGameJam01-Banner@2x.jpg" | prepend: site.baseurl }} 2x" />
                      <a href="{{ "/files/events/01/PTBOGameJam01-Banner.png" | prepend: site.baseurl }}" title="01 Banner">
                        <div class="jx-image-overlayer"></div>
                        <div class="jx-image-hover"><i class="icon-link"></i></div>
                      </a>
                    </div>
                </div>
                <div class="jx-grid-item">
                    <div class="jx-image jx-image-wrapper"><img width="400" src="{{ "/content/img/event/01/PTBOGameJam01-Background.jpg" | prepend: site.baseurl }}" alt="Original Branding" srcset="{{ "/content/img/event/01/PTBOGameJam01-Background.jpg" | prepend: site.baseurl }} 1x, {{ "/content/img/event/01/PTBOGameJam01-Background@2x.jpg" | prepend: site.baseurl }} 2x" />
                      <a href="{{ "/files/events/01/PTBOGameJam01-Background.jpg" | prepend: site.baseurl }}" title="Original Branding">
                        <div class="jx-image-overlayer"></div>
                        <div class="jx-image-hover"><i class="icon-link"></i></div>
                      </a>
                    </div>
                </div>
                <!-- END 01 -->
            </div>
        </div>
