<div id='schedule' class="jx-container container-no-margin jx-padding background-003">
	<div class="container ">
		<div class="jx-section-title-1">
			<div class="jx-pre-title jx-short-border">
				<div class="jx-title-border jx-title-border-light left"></div>
				<div class="jx-title-icon-light"><i class="icon-calendar"></i></div>
				<div class="jx-title-border jx-title-border-light right"></div>
			</div>
			<div class="jx-title jx-title-light jx-uppercase">SCHEDULE</div>
			<div class="jx-subtitle jx-light"><p>Sometimes it is a good idea to layout a rough plan of development; so thats exactly what we did for the PTBO Game Jam 03.</p></div>
		</div>

		<div class="shortcode_tab_e jx-white-tab jx-arrow-tab">
			<div id="Day">
				<ul class="resp-tabs-list parenttab_1">
					<li class="resp-tab-item">
						<div class="jx-tab-date jx-uppercase">4 Aug</div>
						<div class="jx-tab-day jx-uppercase">Day 1</div>
					</li>
					<li class="resp-tab-item">
						<div class="jx-tab-date jx-uppercase">5 Aug</div>
						<div class="jx-tab-day jx-uppercase">Day 2</div>
					</li>
					<li class="resp-tab-item">
						<div class="jx-tab-date jx-uppercase">6 Aug</div>
						<div class="jx-tab-day jx-uppercase">Day 3</div>
					</li>
				</ul>

				<div class="resp-tabs-container parenttab_1">
					<div>
						<div id="ChildTab-1">
							<!-- DAY 1 -->
					 		<div class="resp-tabs-container jx-event-schedule childtab_1">
								<div>
									<div data-accordion-group class="jx-accordion-box">
										<!-- ITEM -->
										<div class="item">
											<div class="left-position">
												<div class="image"><img src="/content/img/team/gamejam.jpg" alt="PTBO Game Jamn"></div>
											</div>
											<div class="right-position">
												<div data-accordion class="head ">
													<div class="date"><i class="icon-clock"></i><span>5:30 PM </span></div>
													<div class="title" data-control>Early Registration</div>
													<div data-content>
														<div class="content"><p>Drop by and sign in and register, deal with paperwork, and get your badge, making your life (and ours) easier Saturday morning.</p></div>
													</div>
												</div>
											</div>
										</div>
										<!-- ITEM -->
										<div class="item">
											<div class="left-position">
												<div class="image"><img src="/content/img/team/briar-jamieson.jpg" alt="Briar Jamieson"></div>
											</div>
											<div class="right-position">
												<div data-accordion class="head open">
													<div class="date"><i class="icon-clock"></i><span>5:30 PM - 7:30 PM</span></div>
													<div class="title" data-control>Youth Educational Block: Scratch</div>
													<div data-content>
														<div class="content"><p>You have got to start somewhere; and there is no better place to start making games then with Briar teaching a great foundation in Scratch. </p></div>
													</div>
												</div>
											</div>
										</div>
										<!-- ITEM -->
										<div class="item">
											<div class="left-position">
												<div class="image"><img src="/content/img/team/gamejam.jpg" alt="PTBO Game Jam"></div>
											</div>
											<div class="right-position schedule-no-line">
												<div data-accordion class="head ">
													<div class="date"><i class="icon-clock"></i> <span>6:00 PM - 8:30 PM</span></div>
													<div class="title" data-control>Adult Education Block: How to make _____?</div>
													<div data-content>
														<div class="content"><p>Matthew Davey and Robert French lead a 3 hour mini-instructional jam about the steps and overall process involved in making a game in Unity and Unreal.</p></div>
													</div>
												</div>
											</div>
										</div>
										
								
										
									</div>
								</div>
					 	</div>
				 	</div>
			 	</div>

				<!-- DAY 2 -->
			 <div>
				 <div id="ChildTab-2">
					 <div class="resp-tabs-container jx-event-schedule childtab_1">
						 <div>
							 <div data-accordion-group class="jx-accordion-box">
								 <!-- ITEM -->
								 <div class="item">
									 <div class="left-position">
										 <div class="image"><img src="/content/img/team/gamejam.jpg" alt="PTBO Game Jam"></div>
									 </div>
									 <div class="right-position">
										 <div data-accordion class="head open">
											 <div class="date"><i class="icon-clock"></i><span>8:00 AM</span></div>
											 <div class="title" data-control>Doors Open</div>
											 <div data-content>
												 <div class="content"><p>The doors open on PTBO Game Jam 03, the start of another fun filled adventure through time and space.
.</p></div>
											 </div>
										 </div>
									 </div>
								 </div>
								 <!-- ITEM -->
								 <div class="item">
				 					<div class="left-position">
				 						<div class="image"><img src="/content/img/team/matthew-davey.jpg" alt="Matthew Davey"></div>
				 					</div>
				 					<div class="right-position">
				 						<div data-accordion class="head open">
				 							<div class="date"><i class="icon-clock"></i><span>8:45 AM</span></div>
				 							<div class="title" data-control>PTBO Game Jam 03 Intro</div>
				 							<div data-content>
				 								<div class="content"><p>Matthew takes to the stage to welcome everyone to the third PTBO Game Jam.</p></div>
				 							</div>
				 						</div>
				 					</div>
				 				</div>
								<!-- ITEM -->
								<div class="item">
								 <div class="left-position">
									 <div class="image"><img src="/content/img/team/gamejam.jpg" alt="PTBO Game Jam"></div>
								 </div>
								 <div class="right-position">
									 <div data-accordion class="head open">
										 <div class="date"><i class="icon-clock"></i><span>9:00 AM</span></div>
										 <div class="title" data-control>The Clock Starts</div>
										 <div data-content>
											 <div class="content"><p>The 32 hour timer begins.</p></div>
										 </div>
									 </div>
								 </div>
							 </div>
							 </div>
						 </div>
					 </div>
				 </div>
			 </div>

			 <!-- DAY 3 -->
			 <div>
				 <div id="ChildTab-3">
	 			 	<div class="resp-tabs-container jx-event-schedule childtab_1">
						<div>
							<div data-accordion-group class="jx-accordion-box">
								<!-- ITEM -->
								<div class="item">
									<div class="left-position">
										<div class="image"><img src="/content/img/event/03/schedule/pastry.jpg" alt="Pastries w/ Prima IP"></div>
									</div>
									<div class="right-position">
										<div data-accordion class="head open">
											<div class="date"><i class="icon-clock"></i><span>9:00 AM - 10:00 AM</span></div>
											<div class="title" data-control>Pastries with Prima IP</div>
											<div data-content>
												<div class="content"><p>Ever had a question about Intellectual Property? Patents? How about Trademarks? Why not have a delicious pastry and listen to what Marcelo Sarkis from Prima IP has to say!</p></div>
											</div>
										</div>
									</div>
								</div>
								<!-- ITEM -->
								<div class="item">
									<div class="left-position">
										<div class="image"><img src="/content/img/team/gamejam.jpg" alt="PTBO Game Jam"></div>
									</div>
									<div class="right-position">
										<div data-accordion class="head ">
											<div class="date"><i class="icon-clock"></i><span>5:00 PM</span></div>
											<div class="title" data-control>Done! Let the Rest &amp; Relaxation Begin!</div>
											<div data-content>
												<div class="content"><p>At this point we all will most likely need a bit of a mental break, and depending if you were here the entire time a shower.</p></div>
											</div>
										</div>
									</div>
								</div>
								<!-- ITEM -->
								<div class="item">
									<div class="left-position">
										<div class="image"><img src="/content/img/event/02/schedule/ptbo.jpg" alt="PTBO Game Jam"></div>
									</div>
									<div class="right-position">
										<div data-accordion class="head ">
											<div class="date"><i class="icon-clock"></i><span>5:00 PM - 6:00 PM</span></div>
											<div class="title" data-control>Show &amp; Tell</div>
											<div data-content>
												<div class="content"><p>Time to see what everyone else was doing while you were hyper focused on your own game.</p></div>
											</div>
										</div>
									</div>
								</div>
								<!-- ITEM -->
								<div class="item">
									<div class="left-position">
										<div class="image"><img src="/content/img/team/matthew-davey.jpg" alt="Matthew Davey"></div>
									</div>
									<div class="right-position schedule-no-line">
										<div data-accordion class="head ">
											<div class="date"><i class="icon-clock"></i><span>6:00 PM</span></div>
											<div class="title" data-control>Wrap Up &amp; Goodbyes</div>
											<div data-content>
												<div class="content"><p>You don't have to go home, but you can't stay here. Matthew Davey will give his closing remarks and the work on the next PTBO Game Jam will begin.</p></div>
											</div>
										</div>
									</div>
								</div>


							</div>
						</div>
					 </div>
				 </div>
			 </div>
		 </div>
		 <div class="mb60"></div>
	 </div>
	</div>
</div>
</div>
