
<div id="event-faq" class="jx-container jx-padding jx-light">
  <div class="container">
    <div class="jx-section-title-1">
      <div class="jx-pre-title jx-short-border">
        <div class="jx-title-border jx-title-border-light left"></div>
        <div class="jx-title-icon-light"><i class="icon-slack icon-3x"></i></div>
        <div class="jx-title-border jx-title-border-light right"></div>
      </div>
      <div class="jx-title jx-title-light jx-uppercase">FAQ</div>
      <div class="jx-subtitle"><p>There is a lot of information to digest about the event, and we often get asked the same thing. Here’s our list of some of the most commonly asked questions in an attempt to help us maintain our sanity.</p></div>
		</div>
    <div class="jx-accordion accordion">
      <div id="accordion-1" class="none jx-toggle" data-accordion-group="">
          {% for item in site.data.faq %}
          <div id="{{ forloop.index  }}" data-accordion="" class="jx-accordion-item head engine all {% if forloop.index == 1 %}open{% endif %}">
  					<div class="title" data-control=""><span class="jx-accordion-icon"></span>{{ item.title}}</div>
  					<div style="max-height: 53px; overflow: hidden; transition: max-height 300ms ease;" data-content="">
  					<div class="description">{{ item.description}}</div>
  					</div>
  					<!-- According Content -->
  					<div class="accordion-border"></div>
  				</div>
  				{% endfor %}
      </div>
    </div>
  </div>
</div>
