
      <div id="about" class="jx-container jx-padding jx-grey-bg">
        <div class="container">
          <div class="jx-section-title-1">
            <div class="jx-pre-title">
              <div class="jx-title-border left"></div>
              <div class="jx-title-icon"><i class="icon-gamejam icon-3x"></i></div>
              <div class="jx-title-border right"></div>
            </div>
            <a href="https://en.wikipedia.org/wiki/Game_jam"><div class="jx-title">What Is A Game Jam?</div></a>
            <div class="jx-subtitle"><p>A game jam is a gathering of game developers for the purpose of planning, designing, and creating one or more games within a short span of time, usually ranging between 24 and 72 hours. Game developers are generally made up of programmers, game designers, artists, and others in game development-related fields.</p></div>
          </div>

          <div class="row"></div>

          <div class="jx-servicebox-1">
            <div class="one-third columns jx-service-item">
              <div class="service-icon"><i class="icon-industry"></i></div>
              <div class="service-title jx-uppercase"><a href="#">Industry</a></div>
              <div class="service-title-border"></div>
              <div class="service-description">
                <p>We work with industry leaders to create meaningful and impactful events that introduce talented individuals to the video games industry, as well as compliment already existing professionals.</p>
              </div>
            </div>

            <div class="one-third columns jx-service-item">
              <div class="service-icon"><i class="icon-graduation-cap"></i></div>
              <div class="service-title jx-uppercase"><a href="#">Education</a></div>
              <div class="service-title-border"></div>
              <div class="service-description">
                <p>We offer a block of time at the start of our events dedicated to learning opportunities, as well as a question and answer period with industry professionals.</p>
              </div>
            </div>

            <div class="one-third columns jx-service-item">
              <div class="service-icon"><i class="icon-newspaper"></i></div>
              <div class="service-title jx-uppercase"><a href="#">Exposure</a></div>
              <div class="service-title-border"></div>
              <div class="service-description">
                <p>We provide an outlet for game creators to show off their work and get noticed by media and financial backers.</p>
              </div>
            </div>

          </div>
        </div>
      </div>
