<div id='profiles' class="jx-container container-no-margin jx-padding jx-black-bg">
    <div class="container ">
        <div class="jx-section-title-1 jx-dark">
            <div class="jx-pre-title jx-short-border">
                <div class="jx-title-icon"><i class="icon-address-card-o color-white"></i></div>
            </div>
            <div class="jx-title jx-uppercase">Event Profiles</div>
            <div class="jx-subtitle"><p>We periodically update our pitch documentation, however in the spirit of transparency we have decided for archival purposes to make available online all previous versions for reference. We have had a great amount of success with this document, and hope that it can help others in crafting their own pitches.</p></div>
        </div>
        <div class="jx-grid-item">
            <div class="jx-image jx-image-wrapper">
                <img src="{{ "/files/profile/PTBOGameJam03_Thumb.jpg" | prepend: site.baseurl }}" alt="PTBO Game Jam 03 Event Profile"></a>
                <a href="{{ "/files/profile/PTBOGameJam03.pdf" | prepend: site.baseurl }}" title="PTBO Game Jam 03 Event Profile">
                    <div class="jx-image-overlayer"></div>
                    <div class="jx-image-hover"><i class="icon-link"></i></div>
                </a>
            </div>
        </div>  
        <div class="jx-grid-item">
            <div class="jx-image jx-image-wrapper">
                <img src="{{ "/files/profile/PTBOGameJam02_Thumb.jpg" | prepend: site.baseurl }}" alt="PTBO Game Jam 02 Event Profile"></a>
                <a href="{{ "/files/profile/PTBOGameJam02.pdf" | prepend: site.baseurl }}" title="PTBO Game Jam 02 Event Profile">
                    <div class="jx-image-overlayer"></div>
                    <div class="jx-image-hover"><i class="icon-link"></i></div>
                </a>
            </div>
        </div>  
        <div class="jx-grid-item">
            <div class="jx-image jx-image-wrapper">
                <img src="{{ "/files/profile/PTBOGameJam01_Thumb.jpg" | prepend: site.baseurl }}" alt="PTBO Game Jam 01 Event Profile"></a>
                <a href="{{ "/files/profile/PTBOGameJam01.pdf" | prepend: site.baseurl }}" title="PTBO Game Jam 01 Event Profile">
                    <div class="jx-image-overlayer"></div>
                    <div class="jx-image-hover"><i class="icon-link"></i></div>
                </a>
            </div>
        </div>    
    </div>
</div>
