<div id='schedule' class="jx-container container-no-margin jx-padding background-003">
	<div class="container ">
		<div class="jx-section-title-1">
			<div class="jx-pre-title jx-short-border">
				<div class="jx-title-border jx-title-border-light left"></div>
				<div class="jx-title-icon-light"><i class="icon-calendar"></i></div>
				<div class="jx-title-border jx-title-border-light right"></div>
			</div>
			<div class="jx-title jx-title-light jx-uppercase">SCHEDULE</div>
			<div class="jx-subtitle jx-light"><p>Sometimes it is a good idea to layout a rough plan of development; so thats exactly what we did for the PTBO Game Jam 04. While it's not perfect and exact, much like the development process, it's dynamic but has the broad strokes.</p></div>
		</div>

		<div class="shortcode_tab_e jx-white-tab jx-arrow-tab">
			<div id="Day">
				<ul class="resp-tabs-list parenttab_1">
					<li class="resp-tab-item">
						<div class="jx-tab-date jx-uppercase">23 Feb</div>
						<div class="jx-tab-day jx-uppercase">Day 1</div>
					</li>
					<li class="resp-tab-item">
						<div class="jx-tab-date jx-uppercase">24 Feb</div>
						<div class="jx-tab-day jx-uppercase">Day 2</div>
					</li>
					<li class="resp-tab-item">
						<div class="jx-tab-date jx-uppercase">25 Feb</div>
						<div class="jx-tab-day jx-uppercase">Day 3</div>
					</li>
				</ul>

				<div class="resp-tabs-container parenttab_1">
					<div>
						<div id="ChildTab-1">
							<!-- DAY 1 -->
					 		<div class="resp-tabs-container jx-event-schedule childtab_1">
								<div>
									<div data-accordion-group class="jx-accordion-box">
										<!-- ITEM -->
										<div class="item">
											<div class="left-position">
												<div class="image"><img src="/content/img/event/04/schedule/04.jpg" alt="PTBO Game Jam"></div>
											</div>
											<div class="right-position">
												<div class="schedule-lead">
														<img src="/content/img/team/03/amanda-rochon.jpg" alt="Amanda Rochon" title="Amanda Rochon" />
														<img src="/content/img/team/dave-bowen.jpg" alt="Dave Bowen" title="Dave Bowen" />
												</div>
												<div data-accordion class="head ">
													<div class="date"><i class="icon-clock"></i><span>5:30 PM</span></div>
													<div class="title" data-control>Early Registration</div>
													<div data-content>
														<div class="content">
															<p>Drop by and sign in and register, deal with paperwork, and get your badge (and SWAG!), making your life (and ours) easier Saturday morning. We will have someone at the registration table until ~9:00 PM to answer questions and get you settled.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- ITEM -->
										<div class="item">
											<div class="left-position">
												<div class="image"><img src="/content/img/event/04/schedule/scratch.jpg" alt="Youth Educational Block"></div>
											</div>
											<div class="right-position">
												<div class="schedule-lead">
														<img src="/content/img/team/03/briar-jamieson.jpg" alt="Briar Jamieson" title="Briar Jamieson"/>
												</div>
												<div data-accordion class="head open">
													<div class="date"><i class="icon-clock"></i><span>6:00 PM - 8:00 PM</span></div>
													<div class="title" data-control>Youth Educational Block: Scratch</div>
													<div data-content>
														<div class="content">
															<p>You have got to start somewhere; and there is no better place to start making games then with Briar Jamieson teaching a great foundation in Scratch. Keeping in line with the Adult Education Block, participants will learn the foundations of making a Frogger clone with <a href="https://scratch.mit.edu/">Scratch</a>.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- ITEM -->
										<div class="item">
											<div class="left-position">
												<div class="image"><img src="/content/img/event/04/schedule/unity.jpg" alt="Adult Education Block - Unity"></div>
											</div>
											<div class="right-position">
												<div class="schedule-lead">
														<img src="/content/img/team/03/arin-blue.jpg" alt="Arin Blue" title="Arin Blue"/>
														<img src="/content/img/team/03/matthew-davey.jpg" alt="Matthew Davey" title="Matthew Davey"/>
														<img src="/content/img/team/03/robert-french.jpg" alt="Robert French" title="Robert French" />
												</div>
												<div data-accordion class="head ">
													<div class="date"><i class="icon-clock"></i> <span>6:00 PM - 8:00 PM</span></div>
													<div class="title" data-control>Adult Education Block: How to make a Frogger Clone?</div>
													<div data-content>
														<div class="content">
															<p>Arin Blue, Matthew Davey and Robert French guide a 2 hour mini-instructional (code-along-style) session about the steps and overall process involved in making a Frogger clone in <a href="https://unity3d.com/">Unity.</a></p>
														</div>
													</div>
												</div>
											</div>
										</div>

										<!-- ITEM -->
										<div class="item">
											<div class="left-position">
												<div class="image"><img src="/content/img/event/04/schedule/breathe.jpg" alt="Adult Education Block - BREATHE Postmortem"></div>
											</div>
											<div class="right-position schedule-no-line">
												<div class="schedule-lead">
														<img src="/content/img/team/03/matthew-davey.jpg" alt="Matthew Davey" title="Matthew Davey" />
												</div>
												<div data-accordion class="head ">
													<div class="date"><i class="icon-clock"></i> <span>8:00 PM - 9:00 PM</span></div>
													<div class="title" data-control>Adult Education Block: BREATHE Postmortem</div>
													<div data-content>
														<div class="content"><p>Matthew Davey talks about what went right and what went <i>horribly</i> wrong during the production of BREATHE in the <a href="http://unrealengine.com">Unreal Engine</a>.</p></div>
													</div>
												</div>
											</div>
										</div>
										
								
										
									</div>
								</div>
					 	</div>
				 	</div>
			 	</div>

				<!-- DAY 2 -->
			 	<div>
				 <div id="ChildTab-2">
					 <div class="resp-tabs-container jx-event-schedule childtab_1">
						 <div>
							 <div data-accordion-group class="jx-accordion-box">
								 <!-- ITEM -->
								 <div class="item">
									 <div class="left-position">
										 <div class="image"><img src="/content/img/event/04/schedule/04.jpg" alt="PTBO Game Jam"></div>
									 </div>
									 <div class="right-position">
										<div class="schedule-lead">
												<img src="/content/img/team/03/amanda-rochon.jpg" alt="Amanda Rochon" title="Amanda Rochon"/>
										</div>
										 <div data-accordion class="head open">
											 <div class="date"><i class="icon-clock"></i><span>8:00 AM</span></div>
											 <div class="title" data-control>Doors Open</div>
											 <div data-content>
												 <div class="content"><p>The doors open on PTBO Game Jam 04, the start of another fun filled adventure. Come early and get your fort setup because we are going to be here for a while!</p></div>
											 </div>
										 </div>
									 </div>
								 </div>

								 <!-- ITEM -->
								 <div class="item">
				 					<div class="left-position">
				 						<div class="image"><img src="/content/img/event/04/schedule/md.jpg" alt="Matthew Davey" title="Matthew Davey"></div>
				 					</div>
				 					<div class="right-position">
				 						<div data-accordion class="head open">
				 							<div class="date"><i class="icon-clock"></i><span>8:30 AM</span></div>
				 							<div class="title" data-control>PTBO Game Jam 04 Intro</div>
				 							<div data-content>
				 								<div class="content"><p>Matthew Davey takes to the mic to welcome everyone to the fourth installment of the PTBO Game Jam. Inviting present <a href="/event/#sponsors">sponsors</a> to speak, before the official event kick off. There might be a <em>PowerPoint</em> presentation involved, there might not. One never knows what to expect during this block of time.</em></i></p></div>
				 							</div>
				 						</div>
				 					</div>
								 </div>

								<!-- ITEM -->
								<div class="item">
								 <div class="left-position">
									 <div class="image"><img src="/content/img/event/04/schedule/04-num.jpg" alt="PTBO Game Jam"></div>
								 </div>
								 <div class="right-position">
									 <div data-accordion class="head open">
										 <div class="date"><i class="icon-clock"></i><span>9:00 AM</span></div>
										 <div class="title" data-control>The Clock Starts</div>
										 <div data-content>
											 <div class="content"><p>The 32-hour timer begins, the livestream gets going on <a href="http://twitch.tv/ptbogamejam">Twitch</a> and we are off to the races. Let the pressure begin and the temperature rise as the laptop powering the stream starts running at 99% usage for the next 32 hours. Will it hold? <em>Nobody knows!</em></p></div>
										 </div>
									 </div>
								 </div>
								</div>




								<!-- ITEM -->
								<div class="item">
									<div class="left-position">
										<div class="image"><img src="/content/img/event/04/schedule/miniputt.jpg" alt="Putt For SWAG"></div>
									</div>
									<div class="right-position">
										<div class="schedule-lead">
												<img src="/content/img/team/03/amanda-rochon.jpg" alt="Amanda Rochon" title="Amanda Rochon" />
												<img src="/content/img/team/03/elisha-sarkis.jpg" alt="Elisha Sarkis" title="Elisha Sarkis" />
												<img src="/content/img/team/03/rob-waite.jpg" alt="Rob Waite" title="Rob Waite"/>
										</div>
										<div data-accordion class="head open">
											<div class="date"><i class="icon-clock"></i><span>11:00 PM</span></div>
											<div class="title" data-control>Putt For SWAG!</div>
											<div data-content>
												<div class="content"><p>The awesome folks at <a href="http://unity.com">Unity</a> have been providing jammers with awesome SWAG across all of our events. This time they sent some especially nice things to give out. Naturally, we gamified that process. Jammer's will be able to face a mini putt challenge with a twist to win prizes (while supplies last!).</p></div>
											</div>
										</div>
									</div>
								</div>



								<!-- ITEM -->
								<div class="item">
									<div class="left-position">
										<div class="image"><img src="/content/img/event/04/schedule/pizza.jpg" alt="Pizza!"></div>
									</div>
									<div class="right-position">
										<div class="schedule-lead">
												<img src="/content/img/team/03/amanda-rochon.jpg" alt="Amanda Rochon" title="Amanda Rochon"/>
												<img src="/content/img/team/03/arin-blue.jpg" alt="Arin Blue" title="Arin Blue"/>
										</div>
										<div data-accordion class="head open">
											<div class="date"><i class="icon-clock"></i><span>11:30 PM</span></div>
											<div class="title" data-control>Pizza-For-Jammers</div>
											<div data-content>
											<div class="content"><p>Who remembers that fun pizza order we did late into the night at 03? The community spoke, and we worked tirelessly to make it happen. We proudly announce the return of Pizza-For-Jammers. A special thank you to all of our sponsors AND the awesome team at Aramark for making this happen. We're going with the standard fair of topping selections. We <u>will not</u> guarantee any dietary concerns revolving around them; we will try to get a few vegetarian pizzas.</p></div>
											</div>
										</div>
									</div>
									</div>

							 </div>
						 </div>
					 </div>
				 </div>
			 </div>

			 <!-- DAY 3 -->
			 <div>
				 <div id="ChildTab-3">
	 			 	<div class="resp-tabs-container jx-event-schedule childtab_1">
						<div>
							<div data-accordion-group class="jx-accordion-box">
								<!-- ITEM -->
								<div class="item">
										<div class="left-position">
											<div class="image"><img src="/content/img/event/04/schedule/challenge.jpg" alt="Mystery Challenge"></div>
										</div>
										<div class="right-position">
											<div class="schedule-lead">
													<img src="/content/img/team/03/matthew-davey.jpg" alt="Matthew Davey" title="Matthew Davey"/>
													<img src="/content/img/team/03/robert-french.jpg" alt="Robert French" title="Robert French" />
											</div>
											<div data-accordion class="head open">
												<div class="date"><i class="icon-clock"></i><span>3:00 AM</span></div>
												<div class="title" data-control>Mystery Challenge</div>
												<div data-content>
													<div class="content"><p>Who doesn't like a mystery challenge in the middle of the night when sleep deprevation is starting to kick in? Participation is <i>optional</i>, but bragging rights will last a life time (or till the next event)!</p></div>
												</div>
											</div>
										</div>
									</div>

								<!-- ITEM -->
								<div class="item">
									<div class="left-position">
										<div class="image"><img src="/content/img/event/04/schedule/04-num.jpg" alt="PTBO Game Jam"></div>
									</div>
									<div class="right-position">
										<div data-accordion class="head ">
											<div class="date"><i class="icon-clock"></i><span>5:00 PM</span></div>
											<div class="title" data-control>Done! Let the Rest &amp; Relaxation Begin!</div>
											<div data-content>
												<div class="content"><p>At this point we all will most likely need a bit of a mental break, and depending if you were here the entire time a shower.</p></div>
											</div>
										</div>
									</div>
								</div>
								<!-- ITEM -->
								<div class="item">
									<div class="left-position">
										<div class="image"><img src="/content/img/event/02/schedule/ptbo.jpg" alt="PTBO Game Jam"></div>
									</div>
									<div class="right-position">
										<div data-accordion class="head ">
											<div class="date"><i class="icon-clock"></i><span>5:00 PM - 6:00 PM</span><span class="open">Open To The Public</span></div>
											<div class="title" data-control>Show &amp; Tell</div>
											<div data-content>
												<div class="content"><p>Time to see what everyone else was doing while you were hyper focused on your own game. This portion of the event is open to the public and media to come and take a look at what was made.</p></div>
											</div>
										</div>
									</div>
								</div>
								<!-- ITEM -->
								<div class="item">
									<div class="left-position">
										<div class="image"><img src="/content/img/team/matthew-davey.jpg" alt="Matthew Davey"></div>
									</div>
									<div class="right-position schedule-no-line">
										<div class="schedule-lead">
												<img src="/content/img/team/03/matthew-davey.jpg" alt="Matthew Davey" title="Matthew Davey"/>
										</div>
										<div data-accordion class="head ">
											<div class="date"><i class="icon-clock"></i><span>6:00 PM</span></div>
											<div class="title" data-control>Wrap Up &amp; Goodbyes</div>
											<div data-content>
												<div class="content"><p>You don't have to go home, but you can't stay here. Matthew Davey will give his closing remarks and the work on the next PTBO Game Jam will begin.</p></div>
											</div>
										</div>
									</div>
								</div>


							</div>
						</div>
					 </div>
				 </div>
			 </div>
		 </div>
		 <div class="mb20"></div>
		 <div class="jx-subtitle jx-light"><p style="text-align: center"><em>Dates and times are subject to change without notice. Please refer to this page for the most up-to-date information.</em></p></div>
		 <div class="mb60"></div>
	 </div>
	</div>
</div>
</div>
