<div id='schedule' class="jx-container container-no-margin jx-padding background-003">
	<div class="container ">
		<div class="jx-section-title-1">
			<div class="jx-pre-title jx-short-border">
				<div class="jx-title-border jx-title-border-light left"></div>
				<div class="jx-title-icon-light"><i class="icon-calendar"></i></div>
				<div class="jx-title-border jx-title-border-light right"></div>
			</div>
			<div class="jx-title jx-title-light jx-uppercase">SCHEDULE</div>
			<div class="jx-subtitle jx-light"><p>Sometimes it is a good idea to layout a rough plan of development; so thats exactly what we did for the PTBO Game Jam 02.</p></div>
		</div>

		<div class="shortcode_tab_e jx-white-tab jx-arrow-tab">
			<div id="ParentTab">
				<ul class="resp-tabs-list parenttab_1">
					<li class="resp-tab-item">
						<div class="jx-tab-date jx-uppercase">17 Feb</div>
						<div class="jx-tab-day jx-uppercase">Day 1</div>
					</li>
					<li class="resp-tab-item">
						<div class="jx-tab-date jx-uppercase">18 Feb</div>
						<div class="jx-tab-day jx-uppercase">Day 2</div>
					</li>
					<li class="resp-tab-item">
						<div class="jx-tab-date jx-uppercase">19 Feb</div>
						<div class="jx-tab-day jx-uppercase">Day 3</div>
					</li>
				</ul>

				<div class="resp-tabs-container parenttab_1">
					<div>
						<div id="ChildTab-1">
							<!-- DAY 1 -->
					 		<div class="resp-tabs-container jx-event-schedule childtab_1">
								<div>
									<div data-accordion-group class="jx-accordion-box">
										<!-- ITEM -->
										<div class="item">
											<div class="left-position">
												<div class="image"><img src="/content/img/team/gamejam.jpg" alt="PTBO Game Jam"></div>
											</div>
											<div class="right-position">
												<div data-accordion class="head open">
													<div class="date"><i class="icon-clock"></i><span>6:00 PM</span></div>
													<div class="title" data-control>On-Site Sign In Begins</div>
													<div data-content>
														<div class="content"><p>Come and signin, get your pass and room assignment as well as your swag bag. You've now got some time to setup, explore the venue and orientate yourself with what could be your home for the next 48 hours.</p></div>
													</div>
												</div>
											</div>
										</div>
										<!-- ITEM -->
										<div class="item">
											<div class="left-position">
												<div class="image"><img src="/content/img/team/robert-french.jpg" alt="Robert French"></div>
											</div>
											<div class="right-position">
												<div data-accordion class="head ">
													<div class="date"><i class="icon-clock"></i> <span>6:00 PM - 8:30 PM</span></div>
													<div class="title" data-control>Game Development Seminar: How to make Pac-Man</div>
													<div data-content>
														<div class="content"><p>Robert French leads a 2.5 hour mini-instructional jam about the steps and overall process involved in making Pac-Man.</p></div>
													</div>
												</div>
											</div>
										</div>
										<!-- ITEM -->
										<div class="item">
											<div class="left-position">
												<div class="image"><img src="/content/img/team/matthew-davey.jpg" alt="Matthew Davey"></div>
											</div>
											<div class="right-position">
												<div data-accordion class="head ">
													<div class="date"><i class="icon-clock"></i><span>8:30 PM - 8:40 PM</span></div>
													<div class="title" data-control>Introduction to PTBO Game Jam 02</div>
													<div data-content>
														<div class="content"><p>Our Founder &amp; Organzier, Matthew Davey takes to the stage to welcome participants and observers to the second PTBO Game Jam, introductions to the team that made this event possible, as well as praise all of the outstanding sponsors.</p></div>
													</div>
												</div>
											</div>
										</div>
										<!-- ITEM -->
										<div class="item">
											<div class="left-position">
												<div class="image"><img src="/content/img/event/02/schedule/fleming.jpg" alt="Fleming College"></div>
											</div>
											<div class="right-position">
												<div data-accordion class="head ">
													<div class="date"><i class="icon-clock"></i><span>8:40 PM - 8:45 PM</span></div>
													<div class="title" data-control>Fleming College Supports Innovation</div>
													<div data-content>
														<div class="content"><p>Maxine Mann, Dean of the School of Trades &amp; Technology at Fleming College welcomes the PTBO Game Jam to the Kawartha Trades &amp; Technology Centre.</p></div>
													</div>
												</div>
											</div>
										</div>
										<!-- ITEM -->
										<div class="item">
											<div class="left-position">
												<div class="image"><img src="/content/img/event/02/schedule/ibm.jpg" alt="IBM"></div>
											</div>
											<div class="right-position">
												<div data-accordion class="head ">
													<div class="date"><i class="icon-clock"></i><span>8:45 PM - 8:55 PM</span></div>
													<div class="title" data-control>Watson Wants To Help</div>
													<div data-content>
														<div class="content"><p>Angela Hopewell from IBM Canada talks about the role IBM can play in the game development process, and what Watson can do for developers.</p></div>
													</div>
												</div>
											</div>
										</div>
										<!-- ITEM -->
										<div class="item">
											<div class="left-position">
												<div class="image"><img src="/content/img/team/gamejam.jpg" alt="PTBO Game Jam"></div>
											</div>
											<div class="right-position schedule-no-line">
												<div data-accordion class="head ">
													<div class="date"><i class="icon-clock"></i><span>9:00 PM</span></div>
													<div class="title" data-control>Let the Game Making Begin</div>
													<div data-content>
														<div class="content"><p>It is time to start the quest, the adventure, the eye opening experience, the 45 hour grind to find ones creation.</p></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
					 	</div>
				 	</div>
			 	</div>

				<!-- DAY 2 -->
			 <div>
				 <div id="ChildTab-2">
					 <div class="resp-tabs-container jx-event-schedule childtab_1">
						 <div>
							 <div data-accordion-group class="jx-accordion-box">
								 <!-- ITEM -->
								 <div class="item">
									 <div class="left-position">
										 <div class="image"><img src="/content/img/event/02/schedule/aramark.jpg" alt="Aramark"></div>
									 </div>
									 <div class="right-position">
										 <div data-accordion class="head open">
											 <div class="date"><i class="icon-clock"></i><span>10:00 AM - 3:00 PM</span></div>
											 <div class="title" data-control>Tim Hortons Is Open</div>
											 <div data-content>
												 <div class="content"><p>As well as providing some coffee for participants during the event, Aramark has done everyone a solid and is opening up the Tim Horton's restaurant at the venue for this period on Satudray. Incase of stampede, remember, elbows up.</p></div>
											 </div>
										 </div>
									 </div>
								 </div>
								 <!-- ITEM -->
								 <div class="item">
				 					<div class="left-position">
				 						<div class="image"><img src="/content/img/team/gamejam.jpg" alt="Midway Point"></div>
				 					</div>
				 					<div class="right-position">
				 						<div data-accordion class="head open">
				 							<div class="date"><i class="icon-clock"></i><span>7:30 PM</span></div>
				 							<div class="title" data-control>Halfway Point</div>
				 							<div data-content>
				 								<div class="content"><p>Is your game working? Do you have something slightly playable? Is it fun? How can you refine it more. All good questions to be asking yourself at this point.</p></div>
				 							</div>
				 						</div>
				 					</div>
				 				</div>
								<!-- ITEM -->
								<div class="item">
								 <div class="left-position">
									 <div class="image"><img src="/content/img/event/02/schedule/pagefolioandacorn30.jpg" alt="Pagefolio + acorn30"></div>
								 </div>
								 <div class="right-position schedule-no-line">
									 <div data-accordion class="head open">
										 <div class="date"><i class="icon-clock"></i><span>11:00 PM</span></div>
										 <div class="title" data-control>Late Night Pizza Party</div>
										 <div data-content>
											 <div class="content"><p>Pagefolio &amp; acorn30 show the local love and are planning on having Pizza brought in for participants for a little late night nurishment.
												 Pepperoni, cheese and double anchovies. Just kidding, no anchovies. There may be more toppings, who knows!</p></div>
										 </div>
									 </div>
								 </div>
							 </div>
							 </div>
						 </div>
					 </div>
				 </div>
			 </div>

			 <!-- DAY 3 -->
			 <div>
				 <div id="ChildTab-3">
	 			 	<div class="resp-tabs-container jx-event-schedule childtab_1">
						<div>
							<div data-accordion-group class="jx-accordion-box">
								<!-- ITEM -->
								<div class="item">
									<div class="left-position">
										<div class="image"><img src="/content/img/event/02/schedule/rickys.jpg" alt="Ricky's"></div>
									</div>
									<div class="right-position">
										<div data-accordion class="head open">
											<div class="date"><i class="icon-clock"></i><span>8:00 AM - 10:00 AM</span></div>
											<div class="title" data-control>&#35;GameDev Breakfast</div>
											<div data-content>
												<div class="content"><p>The wonderful staff of Ricky's All Day Grill would like to support the hardworking Game Developers by preparing a wonderful breakfast for them.</p></div>
											</div>
										</div>
									</div>
								</div>
								<!-- ITEM -->
								<div class="item">
									<div class="left-position">
										<div class="image"><img src="/content/img/team/gamejam.jpg" alt="PTBO Game Jam"></div>
									</div>
									<div class="right-position">
										<div data-accordion class="head ">
											<div class="date"><i class="icon-clock"></i><span>6:00 PM</span></div>
											<div class="title" data-control>Done! Let the Rest &amp; Relaxation Begin!</div>
											<div data-content>
												<div class="content"><p>At this point we all will most likely need a bit of a mental break, and depending if you were here the entire time a shower.</p></div>
											</div>
										</div>
									</div>
								</div>
								<!-- ITEM -->
								<div class="item">
									<div class="left-position">
										<div class="image"><img src="/content/img/event/02/schedule/monsef.jpg" alt="Maryam Monsef"></div>
									</div>
									<div class="right-position">
										<div data-accordion class="head ">
											<div class="date"><i class="icon-clock"></i><span>6:15 PM - 6:30 PM</span></div>
											<div class="title" data-control>Supporting Innovation &amp; Local Industry</div>
											<div data-content>
												<div class="content"><p>Maryam Monsef, the Member of Parliament for Peterborough-Kawartha, and the Minister of Status of Women speaks to the importance of supporting events like the PTBO Game Jam.</p></div>
											</div>
										</div>
									</div>
								</div>
								<!-- ITEM -->
								<div class="item">
									<div class="left-position">
										<div class="image"><img src="/content/img/event/02/schedule/ptbo.jpg" alt="PTBO Game Jam"></div>
									</div>
									<div class="right-position">
										<div data-accordion class="head ">
											<div class="date"><i class="icon-clock"></i><span>6:30 PM - 7:30 PM</span></div>
											<div class="title" data-control>Show &amp; Tell</div>
											<div data-content>
												<div class="content"><p>Time to see what everyone else was doing while you were hyper focused on your own game. We are encouraging developers to show off their games in the presentation room (01). Just make sure you've got HDMI out and you should be good! Maybe even VGA, but you will be harassed about that. Media will be encouraged to be present at this portion of the event.</p></div>
											</div>
										</div>
									</div>
								</div>
								<!-- ITEM -->
								<div class="item">
									<div class="left-position">
										<div class="image"><img src="/content/img/team/matthew-davey.jpg" alt="Matthew Davey"></div>
									</div>
									<div class="right-position schedule-no-line">
										<div data-accordion class="head ">
											<div class="date"><i class="icon-clock"></i><span>7:30 PM</span></div>
											<div class="title" data-control>Wrap Up &amp; Goodbyes</div>
											<div data-content>
												<div class="content"><p>You don't have to go home, but you can't stay here. Matthew Davey will give his closing presentation and the work on the next PTBO Game Jam will begin.</p></div>
											</div>
										</div>
									</div>
								</div>


							</div>
						</div>
					 </div>
				 </div>
			 </div>
		 </div>
		 <div class="mb60"></div>
	 </div>
	</div>
</div>
</div>
