

<div  class="jx-container container-no-margin jx-padding jx-black-bg">

				<!-- Background Image -->

				<!-- Background Icon -->
				<div class="container ">
                    <div class="jx-section-title-1 jx-dark">

                        <div class="jx-pre-title jx-short-border">
                        <div class="jx-title-border left"></div>
                        <div class="jx-title-icon"><i class="line-icon icon-pencil"></i></div>
                        <div class="jx-title-border right"></div>
                        </div>
                        <div class="jx-title jx-uppercase">Exhibition Plan</div>
                        <div class="jx-subtitle"><p>Phasellus lectus justo, vestibulum gravida tortor nec, sagittis efficitur risus. In dignissim laoreet venenatis. Nullam tempus sem est, nec tincidunt nisl semper euismod</p></div>
                        <!-- Section Title -->

                    </div>

                    <div class="jx-interactive-map">
                        <div class="jx-inter-map">
                            <img src="http://janxcode.com/ievent/images/exhibition-floor.png" alt="">
                            <ul>

                                <li class="jx-single-point">
                                <a class="jx-img-replace" href="#0"></a>
                                <div class="jx-more-info jx-top">
                                <h2>Section A</h2>
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae distinctio esse placeat minus fugit, voluptate, quos, ea, nisi temporibus repudiandae perspiciatis natus quasi ipsa corrupti ipsum amet facere ut nihil.</p>
                                <a href="#0" class="jx-close-info jx-img-replace">Close</a>
                                </div>
                                </li>
                                <!-- single-point -->


                                <li class="jx-single-point">
                                <a class="jx-img-replace" href="#0"></a>
                                <div class="jx-more-info jx-top">
                                <h2>Section A</h2>
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae distinctio esse placeat minus fugit, voluptate, quos, ea, nisi temporibus repudiandae perspiciatis natus quasi ipsa corrupti ipsum amet facere ut nihil.</p>
                                <a href="#0" class="jx-close-info jx-img-replace">Close</a>
                                </div>
                                </li>
                                <!-- single-point -->


                                <li class="jx-single-point">
                                <a class="jx-img-replace" href="#0"></a>
                                <div class="jx-more-info jx-top">
                                <h2>Section A</h2>
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae distinctio esse placeat minus fugit, voluptate, quos, ea, nisi temporibus repudiandae perspiciatis natus quasi ipsa corrupti ipsum amet facere ut nihil.</p>
                                <a href="#0" class="jx-close-info jx-img-replace">Close</a>
                                </div>
                                </li>
                                <!-- single-point -->


                                <li class="jx-single-point">
                                <a class="jx-img-replace" href="#0"></a>
                                <div class="jx-more-info jx-top">
                                <h2>Section A</h2>
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae distinctio esse placeat minus fugit, voluptate, quos, ea, nisi temporibus repudiandae perspiciatis natus quasi ipsa corrupti ipsum amet facere ut nihil.</p>
                                <a href="#0" class="jx-close-info jx-img-replace">Close</a>
                                </div>
                                </li>
                                <!-- single-point -->

        </ul>
                        </div>
                    </div>


                    <div class="row"></div>
                    <div class="jx-map-company">
                        <ul>
                            <li>
                                <ul>
                                    <li>01.Rocko Co</li>
                                    <li>02.Lithuim Co</li>
                                    <li>03.Fashion Room</li>
                                    <li>04.Lockerz</li>
                                </ul>
                            </li>

                            <li>
                                <ul>
                                    <li>05.BMMI</li>
                                    <li>06.Clocker Co</li>
                                    <li>07.Rainbow Est.</li>
                                    <li>08.Rocko Co</li>
                                </ul>
                            </li>

                            <li>
                                <ul>
                                    <li>9.Lithuim Co</li>
                                    <li>10.Fashion Room</li>
                                    <li>11.Lockerz</li>
                                    <li>12.BMMI</li>
                                </ul>
                            </li>


                            <li>
                                <ul>
                                    <li>13.Yassen LTd.</li>
                                    <li>14.Clocker Co.</li>
                                    <li>15.Rainbow Est.</li>
                                    <li>16.Rocko Co.</li>
                                </ul>
                            </li>


                            <li>
                                <ul>
                                    <li>17.Rocko Co</li>
                                    <li>18.Lithuim Co</li>
                                    <li>19.Fashion Room</li>
                                    <li>20.Lockerz</li>
                                </ul>
                            </li>


                            <li>
                                <ul>
                                    <li>21.BMMI</li>
                                    <li>22.Clocker Co</li>
                                    <li>23.Rainbow Est.</li>
                                    <li>24.Rocko Co</li>
                                </ul>
                            </li>


                            <li>
                                <ul>
                                    <li>25.Lithuim Co</li>
                                    <li>26.Fashion Room</li>
                                    <li>27.Lockerz</li>
                                    <li>28.BMMI</li>
                                </ul>
                            </li>


                            <li>
                                <ul>
                                    <li>29.Yassen LTd.</li>
                                    <li>30.Clocker Co.</li>
                                    <li>31.Rainbow Est.</li>
                                    <li>32.Rocko Co.</li>
                                </ul>
                            </li>

                        </ul>
                    </div>

               </div>
        </div>
