<div class="jx-container jx-padding background-005">
        	<div class="container">
                <div class="jx-section-title-1">
                    <div class="jx-pre-title jx-short-border">
                        <div class="jx-title-icon"><i class="icon-puzzle"></i></div>
                    </div>
                    <div class="jx-title jx-uppercase">Color Palette</div>
                    <div class="jx-subtitle"><p>Out side of black and white, you know thoses shades; we have a few set colors that we use throughout the website as well as in our branding.</p></div>
                </div>

                <div class="row"></div>
                <div class="row"></div>
                <div class="jx-media-center">

                  <div class="one-third columns brand-color-block">
                    <div class="brand-color gamejam-blue"></div>
                    <ul class="brand-color-description">
                      <li class="color-title">Name</li>
                      <li class="color-spacer">Game Jam Blue</li>
                      <li class="color-title">RGB</li>
                      <li>0, 204, 255</li>
                      <li class="color-title">Hex</li>
                      <li>#00CCFF</li>
                      <li class="color-title">Pantone</li>
                      <li>Solid Uncoated 2199 U</li>
                    </ul>
                  </div>

                  <div class="one-third columns brand-color-block">
                    <div class="brand-color gray-40"></div>
                    <ul class="brand-color-description">
                      <li class="color-title">Name</li>
                      <li class="color-spacer">Gray 40</li>
                      <li class="color-title">RGB</li>
                      <li>102, 102, 102</li>
                      <li class="color-title">Hex</li>
                      <li>#666666</li>
                      <li class="color-title">Pantone</li>
                      <li>Solid Coated 424 C</li>
                    </ul>
                  </div>

                  <div class="one-third columns brand-color-block">
                    <div class="brand-color gray-20"></div>
                    <ul class="brand-color-description">
                      <li class="color-title">Name</li>
                      <li class="color-spacer">Gray 20</li>
                      <li class="color-title">RGB</li>
                      <li>51, 51, 51</li>
                      <li class="color-title">Hex</li>
                      <li>#333333</li>
                      <li class="color-title">Pantone</li>
                      <li>Solid Coated Neutral Black C</li>
                    </ul>
                  </div>

                  <div class="one-third columns brand-color-block">
                    <div class="brand-color gamejam-yellow"></div>
                    <ul class="brand-color-description">
                      <li class="color-title">Name</li>
                      <li class="color-spacer">Game Jam Yellow</li>
                      <li class="color-title">RGB</li>
                      <li>255, 204, 0</li>
                      <li class="color-title">Hex</li>
                      <li>#FFCC00</li>
                      <li class="color-title">Pantone</li>
                      <li>Solid Coated 7405 C</li>
                    </ul>
                  </div>

                  <div class="one-third columns brand-color-block">
                    <div class="brand-color gamejam-orange"></div>
                    <ul class="brand-color-description">
                      <li class="color-title">Name</li>
                      <li class="color-spacer">Game Jam Orange</li>
                      <li class="color-title">RGB</li>
                      <li>255, 102, 0</li>
                      <li class="color-title">Hex</li>
                      <li>#FF6600</li>
                      <li class="color-title">Pantone</li>
                      <li>Solid Uncoated Orange 021 U</li>
                    </ul>
                  </div>

                </div>
            </div>
        </div>
