<div id="contacts" class="jx-container jx-padding jx-grey-bg _mPS2id-t mPS2id-target mPS2id-target-first mPS2id-target-last background-005">
  <div class="container">
    <div class="jx-section-title-1">
      <div class="jx-pre-title jx-short-border">
        <div class="jx-title-icon"><i class="line-icon icon-mail"></i></div>
      </div>
      <div class="jx-title jx-uppercase">SEND US A MESSAGE</div>
    </div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="jx-contact-form">
      <div id="form-result" class="jx-result"></div>
      <form id="contactForm" class="has-validation-callback">
        <div class="row-1">
          <div class="contact-full-name">
            <input type="text" id="full-name-contact" name="name" placeholder="Full Name" class="jx-form-text">
          </div>
          <div class="contact-email">
            <input type="text" id="email-contact" name="email" placeholder="Email Address" data-validation="email" class="jx-form-text">
          </div>
        </div>
        <div class="row-1">
          <div class="contact-subject">
            <input type="text" id="subject-contact" name="subject" placeholder="Subject" class="jx-form-text">
          </div>
        </div>
        <div class="row-1">
          <div class="contact-message">
            <textarea id="message-contact" name="message" class="jx-form-textarea" rows="5" cols="30" placeholder="Enter Your Message Here..."></textarea>
          </div>
          <div class="contact-submit">
            <input type="hidden" id="serverKey" name="serverKey" value="{{site.data.api.key}}">
            <input type="submit" id="submit-contact" name="submit" class="jx-submit" value="Send">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
