<div id='gallery' class="jx-container container-no-margin jx-padding jx-black-bg">

            <!-- Background Image -->

            <!-- Background Icon -->
            <div class="container ">
                <div class="jx-section-title-1 jx-dark">

                    <div class="jx-pre-title jx-short-border">
                    <!-- <div class="jx-title-border left"></div> -->
                    <div class="jx-title-icon"><i class="icon-picture color-white"></i></div>
                    <!-- <div class="jx-title-border right"></div> -->
                    </div>
                    <div class="jx-title jx-uppercase">Stock Assets</div>
                    <div class="jx-subtitle"><p>Below is a selection of photos and artwork for release from our past and present events that can be used by media and its reproductions. Please note that you are required to use the full-sized watermarked versions available from the click through link.</p></div>
                    <!-- Section Title -->

                </div>
                {% for image in site.data.01-gallery %}
                <div class="jx-grid-item">
                    <div class="jx-image jx-image-wrapper"><img width="400" src="{{ image.img | prepend: site.baseurl }}" alt="{{ image.alt }}" hdpi="true"/>
                      <a href="{{ image.url | prepend: site.baseurl }}" title="{{ image.title }}">
                        <div class="jx-image-overlayer"></div>
                        <div class="jx-image-hover"><i class="icon-link"></i></div>
                      </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
