<div id='sponsors' class="jx-container container-no-margin jx-padding background-006">

          <!-- Background Image -->

          <!-- Background Icon -->
          <div class="container ">
              <div class="jx-section-title-1 jx-dark">

                  <div class="jx-pre-title jx-short-border">
                  <div class="jx-title-border left"></div>
                  <div class="jx-title-icon"><i class="icon-thumbs-up"></i></div>
                  <div class="jx-title-border right"></div>
                  </div>
                  <div class="jx-title jx-uppercase">Sponsors</div>
                  <div class="jx-subtitle"><p>Viverra dignissim elit. Maecenas in orci nisl. Cras et nisl aliquet, mollis purus ac, vestibulum metus. Suspendisse arcu ex, condimentum vehicula tempus eget, varius ut tortor</p></div>
                  <!-- Section Title -->

              </div>

{% assign gold = site.data.latest-sponsors | where: 'tier', 'gold' %}


{% assign silver = site.data.latest-sponsors | where: 'tier', 'silver' %}
{% assign bronze = site.data.latest-sponsors | where: 'tier', 'bronze' %}

<div class="jx-sponsors gold-sponsors">
  <ul>
{% for sponsor in gold %}
    <li><a href="{{ sponsor.url }}"><div class="slide-contents"><img src="{{ sponsor.img | prepend: site.baseurl }}" alt="{{ sponsor.name }}"></div></a></li>
{% endfor %}
  </ul>
</div>

<div class="jx-sponsors silver-sponsors">
  <ul>
{% for sponsor in silver %}
    <li><a href="{{ sponsor.url }}"><div class="slide-contents"><img src="{{ sponsor.img | prepend: site.baseurl }}" alt="{{ sponsor.name }}"></div></a></li>
{% endfor %}
  </ul>
</div>

<div class="jx-sponsors bronze-sponsors">
  <ul>
{% for sponsor in bronze %}
    <li><a href="{{ sponsor.url }}"><div class="slide-contents"><img src="{{ sponsor.img | prepend: site.baseurl }}" alt="{{ sponsor.name }}"></div></a></li>
{% endfor %}
  </ul>
</div>
          </div>
      </div>
