
<div id="venue-layout" class="jx-container jx-padding jx-light">
  <div class="container">
    <div class="jx-section-title-1">
      <div class="jx-pre-title jx-short-border">
        <div class="jx-title-border jx-title-border-light left"></div>
        <div class="jx-title-icon-light"><i class="icon-map-o icon-3x"></i></div>
        <div class="jx-title-border jx-title-border-light right"></div>
      </div>
      <div class="jx-title jx-title-light jx-uppercase">VENUE LAYOUT</div>
      <div class="jx-subtitle"><p>With over 87,000 square feet of space, the Kawartha Trade &amp; Technology Centre stands as a beacon of technological innovation in Peterborough, Ontario providing orginizations like ours with a fantastic environment to foster industry growth and development.</p></div>
		</div>
		<div class="jx-interactive-map">
			<div class="jx-inter-map">
				<img src="/content/img/event/03/venue.png" srcset="/content/img/event/03/venue.png 1x, /content/img/event/03/venue@2x.png 2x" alt="Venue Layout" />
			</div>
			<div class="jx-map-info">
				<div id="01" class="jx-sidebar-widget">
        	<div class="widget widget_recent_entries">
	          <div class="sub">
	            <h4>Parking</h4>
	            <div class="jx-right-pattern"></div>
	          </div>
						Parking is <strong>FREE</strong> in the Spruce, Birch, Pine and Cedar lots (<a href="https://flemingcollege.ca/parking">map</a>) after 5PM on Friday. Please be aware that the bank of electric charge stations in the Spruce lot (out front of the KTTC) are reserved for staff parking only.
					</div>
				</div>

				<div id="01" class="jx-sidebar-widget">
					<div class="widget widget_recent_entries">
						<div class="sub">
							<h4>Registration</h4>
							<div class="jx-right-pattern"></div>
						</div>
						Both visitors and participants are required to sign in inside of room #1. Any person found without a valid pass will be asked to sign in or leave the premises immediately.
					</div>
				</div>

				<div id="01" class="jx-sidebar-widget">
					<div class="widget widget_recent_entries">
						<div class="sub">
							<h4>Food &amp; Catering</h4>
							<div class="jx-right-pattern"></div>
						</div>
						Throughout the course of the event some sponsors may choose to bring in food and/or drinks for participants, we will make those available in room #1. Participants are permitted to order food to the event so long as they receive it at the registration table.
					</div>
				</div>

				<div id="01" class="jx-sidebar-widget">
					<div class="widget widget_recent_entries">
						<div class="sub">
							<h4>Workspaces</h4>
							<div class="jx-right-pattern"></div>
						</div>
						On the map, room #1 is going to be where the main festivities are going to take place, the other rooms we have just incase. We'll have to wait and see how things go!.
					</div>
				</div>


			</div>
		</div>
  </div>
</div>
