<div id='register' class="jx-container container-no-margin jx-padding jx-white-bg ">

            <!-- Background Image -->

            <!-- Background Icon -->
            <div class="container ">
                <div class="jx-section-title-1 jx-dark">

                    <div class="jx-pre-title jx-short-border">
                    <div class="jx-title-border left"></div>
                    <div class="jx-title-icon"><i class="line-icon icon-tag"></i></div>
                    <div class="jx-title-border right"></div>
                    </div>
                    <div class="jx-title jx-uppercase">register</div>
                    <div class="jx-subtitle"><p>Euismod, quis laoreet neque imperdiet. Proin ornare, orci eu mattis dignissim, mi mauris consectetur dui, at faucibus libero justo a dui. Sed facilisis pellentesque quam et blandit.</p></div>
                    <!-- Section Title -->

                </div>
                <div class="jx-pricing-container">
					<div class="jx-pricing-switcher">
						<p class="fieldset">
							<input type="radio" name="duration-1" value="standard" id="standard-1" checked>
							<label for="standard-1">Standard</label>
							<input type="radio" name="duration-1" value="vip" id="vip-1">
							<label for="vip-1">VIP</label>
							<span class="jx-switch"></span>
						</p>
					</div>
					<div class="jx-price-table">
						<ul class="jx-pricing-list jx-bounce-invert">

                            <li>
                                <ul class="jx-pricing-wrapper">
                                    <li data-type="standard" class="is-visible">

                                        <div class="one-third columns jx-price-item">
                                            <div class="jx-price">149<span>.99</span></div>
                                            <div class="jx-package-name jx-uppercase">Basic</div>
                                            <div class="jx-package-feature">
                                                <ul>
                                                    <li><i class="fa fa-chevron-right"></i>Conference Tickets</li>
                                                    <li><i class="fa fa-chevron-right"></i>Easy Access</li>
                                                    <li><i class="fa fa-chevron-right"></i>Printed Materials</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>

                                    <li data-type="vip" class="is-hidden">
                                        <div class="one-third columns jx-price-item jx-white">
                                            <div class="jx-price">255<span>.99</span></div>
                                            <div class="jx-package-name jx-uppercase">Basic</div>
                                            <div class="jx-package-feature">
                                                <ul>
                                                    <li><i class="fa fa-chevron-right"></i>Conference Tickets</li>
                                                    <li><i class="fa fa-chevron-right"></i>Easy Access</li>
                                                    <li><i class="fa fa-chevron-right"></i>Printed Materials</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                                <!-- .jx-pricing-wrapper -->
                            </li>

                            <!-- Item 1 -->

                            <li>
                                <ul class="jx-pricing-wrapper">
                                    <li data-type="standard" class="is-visible">

                                        <div class="one-third columns jx-price-item">
                                            <div class="jx-price">209<span>.99</span></div>
                                            <div class="jx-package-name jx-uppercase">Standard</div>
                                            <div class="jx-package-feature">
                                                <ul>
                                                    <li><i class="fa fa-chevron-right"></i>Conference Tickets</li>
                                                    <li><i class="fa fa-chevron-right"></i>Easy Access</li>
                                                    <li><i class="fa fa-chevron-right"></i>Printed Materials</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>

                                    <li data-type="vip" class="is-hidden">
                                        <div class="one-third columns jx-price-item jx-white">
                                            <div class="jx-price">445<span>.99</span></div>
                                            <div class="jx-package-name jx-uppercase">Standard</div>
                                            <div class="jx-package-feature">
                                                <ul>
                                                    <li><i class="fa fa-chevron-right"></i>Conference Tickets</li>
                                                    <li><i class="fa fa-chevron-right"></i>Easy Access</li>
                                                    <li><i class="fa fa-chevron-right"></i>Printed Materials</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                                <!-- .jx-pricing-wrapper -->
                            </li>

                            <!-- Item 1 -->

                            <li>
                                <ul class="jx-pricing-wrapper">
                                    <li data-type="standard" class="is-visible">

                                        <div class="one-third columns jx-price-item">
                                            <div class="jx-price">349<span>.99</span></div>
                                            <div class="jx-package-name jx-uppercase">Premium</div>
                                            <div class="jx-package-feature">
                                                <ul>
                                                    <li><i class="fa fa-chevron-right"></i>Conference Tickets</li>
                                                    <li><i class="fa fa-chevron-right"></i>Easy Access</li>
                                                    <li><i class="fa fa-chevron-right"></i>Printed Materials</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>

                                    <li data-type="vip" class="is-hidden">
                                        <div class="one-third columns jx-price-item jx-white">
                                            <div class="jx-price">669<span>.99</span></div>
                                            <div class="jx-package-name jx-uppercase">Premium</div>
                                            <div class="jx-package-feature">
                                                <ul>
                                                    <li><i class="fa fa-chevron-right"></i>Conference Tickets</li>
                                                    <li><i class="fa fa-chevron-right"></i>Easy Access</li>
                                                    <li><i class="fa fa-chevron-right"></i>Printed Materials</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                                <!-- .jx-pricing-wrapper -->
                            </li>

                            <!-- Item 1 -->

                        </ul>
					</div>
				</div>
			</div>
		</div>
        <!-- EOF Price Table -->


        <!-- BOF Countdown + Form -->
       	<div  class="jx-container container-no-margin   jx-countdown-form">
				<div class='parallax-no-height jx-tint-black' style='background-image:url(http://janxcode.com/ievent/images/stock-3.jpg);'></div>
				<!-- Background Image -->

				<!-- Background Icon -->
				<div class="container ">

			<div class="jx-ticket-form jx-half-width left">
			<h1>GET YOUR TICKETS</h1>

			<form action="http://ievent.janxcode.com/2015/08/26/fringilla-vel-aliquet-nec-vulputate/" id="contactForm-9" method="post">
			<div class="jx-ticket-first-name">
			<input type="text" id="name-contactform-9" name="reg_name" placeholder="Full Name" class="jx-form-text" />
			<!-- First Name Textbox -->
			</div>
			<div class="jx-ticket-email">
			<input type="text" id="email-contactform-9" name="reg_email" placeholder="Email Address" class="jx-form-text" data-validation-length="email" data-validation="required"/>
			<!-- Email Name Textbox -->
			</div>

			<div class="jx-ticket-phone">
			<input type="text" id="subject-contactform-9" name="reg_phone" placeholder="Phone Number" class="jx-form-text" />
			<!-- Phone Textbox -->
			</div>

			<div class="row-1">

			<div class="jx-ticket-type">
				<select name="reg_ticket_type" class="select-box">
				  <option value="classic">Classic</option>
				  <option value="vip">VIP</option>
				  <option value="organizer">Organizer</option>
				</select>
			</div>

			<div class="jx-ticket-valid">
				<select name="reg_ticket_valid" class="select-box">
				  <option value="one-day">One Day</option>
				  <option value="two-days">Two Days</option>
				  <option value="three-days">Three Days</option>
				</select>
			</div>

			</div>

			<input type="submit" id="submit-register-9" name="submit-register-9" class="jx-form-btn jx-btn-default" value="REGISTER NOW" />
			<!-- Submit Button -->
			</form>
			</div>
			<!-- EOF Ticket Form -->


                <div class="jx-countdown-box jx-default-bg jx-half-width right" data-time=" ">
                	<h1>HURRY UP!!</h1>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                    <div class="jx-countdown">
                    	<div class="dsb-theme-wrapper countdown">
                        <div class="dsb-theme">
                            <div class="counter-wrapper">
                                <ul>
                                    <li>
                                        <div class="days count">00</div>
                                        <div class="textDays count-text">Days</div>
                                    </li>
                                    <li>
                                        <div class="hours count">00</div>
                                        <div class="textHours count-text">Hours</div>
                                    </li>
                                    <li>
                                        <div class="minutes count">00</div>
                                        <div class="textmins count-text">Mins</div>
                                    </li>
                                    <li>
                                        <div class="seconds count">00</div>
                                        <div class="textSecs count-text">Secs</div>
                                    </li>
                                </ul>
                                <div class="jC-clear"></div>
                            </div>

                        </div>
                    </div>
                    </div>

                    <div class="row"></div>
                    <div class="jx-btn-center">
                        <a href="#" class="jx-btn-default jx-outline jx-white-btn">Buy Now</a>
                    </div>

                </div>
                <!-- EOF Countdown Form -->

</div>
			</div>
