<div class="jx-container jx-padding jx-grey-bg">

        	<div class="container">

                <div class="jx-section-title-1">
                    <div class="jx-pre-title jx-short-border">
                        <div class="jx-title-border left"></div>
                        <div class="jx-title-icon"><i class="line-icon icon-note"></i></div>
                        <div class="jx-title-border right"></div>
                    </div>
                    <div class="jx-title jx-uppercase">Media Center</div>
                </div>
                <!-- Section Title -->
                <div class="row"></div>
                <div class="row"></div>


                <div class="jx-media-center">

                    <div class="one-third columns">
                        <div class="image jx-image-wrapper">
                        	<img src="images/media_center_3.jpg" alt="">
                        	<div class="jx-image-overlay"></div>
                            <div class="jx-image-hover">
                            	<a href="#" class="jx-blog-more"><i class="line-icon icon-doc"></i></a>
                            </div>
                            <!-- Image Hover -->
                        </div>
                        <!-- Image -->
                        <div class="title">Lorem ipsum dolor sit amet consectet</div>
                        <!-- Title -->
                        <div class="date"><i class="line-icon icon-calendar"></i> <span>25 Jan 2015</span> <i class="line-icon icon-location"></i> <span>London</span></div>
                        <!-- Date -->
                        <div class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. ips dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</div>
                        <!-- Description -->
                    </div>

                    <!-- Item # 1 -->

                    <div class="one-third columns">
                        <div class="image jx-image-wrapper">
                        	<img src="images/media_center_1.jpg" alt="">
                        	<div class="jx-image-overlay"></div>
                            <div class="jx-image-hover">
                            	<a href="#" class="jx-blog-more"><i class="line-icon icon-doc"></i></a>
                            </div>
                            <!-- Image Hover -->
                        </div>
                        <!-- Image -->
                        <div class="title">Lorem ipsum dolor sit amet consectet</div>
                        <!-- Title -->
                        <div class="date"><i class="line-icon icon-calendar"></i> <span>25 Jan 2015</span> <i class="line-icon icon-location"></i> <span>London</span></div>
                        <!-- Date -->
                        <div class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. ips dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</div>
                        <!-- Description -->
                    </div>

                    <!-- Item # 2 -->

                    <div class="one-third columns">
                        <div class="image jx-image-wrapper">
                        	<img src="images/media_center_2.jpg" alt="">
                        	<div class="jx-image-overlay"></div>
                            <div class="jx-image-hover">
                            	<a href="#" class="jx-blog-more"><i class="line-icon icon-doc"></i></a>
                            </div>
                            <!-- Image Hover -->
                        </div>
                        <!-- Image -->
                        <div class="title">Lorem ipsum dolor sit amet consectet</div>
                        <!-- Title -->
                        <div class="date"><i class="line-icon icon-calendar"></i> <span>25 Jan 2015</span> <i class="line-icon icon-location"></i> <span>London</span></div>
                        <!-- Date -->
                        <div class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. ips dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</div>
                        <!-- Description -->
                    </div>

                    <!-- Item # 3 -->

                </div>

                <div class="row"></div>
                <div class="row"></div>

                <div class="jx-btn-center">
                <a href="#" class="jx-btn-default"><i class="line-icon icon-note"></i> READ ALL</a>
                </div>
                <!-- Read More Button -->

            </div>
        </div>
