<div id='gallery' class="jx-container container-no-margin jx-padding jx-black-bg">

            <!-- Background Image -->

            <!-- Background Icon -->
            <div class="container ">
                <div class="jx-section-title-1 jx-dark">

                    <div class="jx-pre-title jx-short-border">
                    <!-- <div class="jx-title-border left"></div> -->
                    <div class="jx-title-icon"><i class="icon-fort-awesome color-white"></i></div>
                    <!-- <div class="jx-title-border right"></div> -->
                    </div>
                    <div class="jx-title jx-uppercase">Assets</div>
                    <div class="jx-subtitle"><p>Ever wondered what a $35 million-dollar building looks like? This iconic building was designed by <a href="https://ca.perkinswill.com/">Perkins + Will</a> to seamlessly bring together theoretical teaching and applied learning in a state-of-the-art facility. Here’s a peak of the amazing space where our jammers will be creating their master pieces for the PTBO Game Jam 02.
</p></div>
                    <!-- Section Title -->

                </div>
                {% for image in site.data.01-gallery %}
                <div class="jx-grid-item">
                    <div class="jx-image jx-image-wrapper"><img width="400" src="{{ image.img | prepend: site.baseurl }}" alt="{{ image.alt }}" />
                      <div class="jx-image-overlayer"></div>
                      <div class="jx-image-hover">
                          <a href="{{ image.url | prepend: site.baseurl }}" data-rel="prettyPhoto" title="{{ image.title }}"><i class="icon-zoom-in"></i></a>
                      </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
