    <footer class="jx-footer-section jx-container">
      <div class="jx-footer-widget">
        <div class="container">

          <!-- START Widgets -->
          <div class="four columns">
            <div class="jx-footer-logo"><img src="{{ "/content/img/shared/PTBOGameJam-Dark.png" | prepend: site.baseurl }}" alt="PTBO Game Jam" class="logo" /></div>
            <div class="jx-footersection-widget">
              <div id="text-3" class="widget widget_text">
                <div class="textwidget">The <strong>PTBO Game Jam</strong> is a not-for-profit event with the directive of engaging the local community with the video game industry to form long term relationships.</div>
		          </div>
            </div>
          </div>

          <div class="four columns">
            <div class="jx-footersection-widget">
              <div id="recent-posts-5" class="widget widget_recent_entries">
                <div class="sub">
                  <header>
                    <h4>Recent Posts</h4>
                    <div class="jx-right-pattern"></div>
                  </header>
                </div>
                <ul>
                  {% for post in site.posts limit:4 %}
                    <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>

          <div class="four columns">
            <div class="jx-footersection-widget">
              <div id="tag_cloud-3" class="widget widget_tag_cloud">
                <div class="sub">
                  <header>
                    <h4>Tags</h4>
                    <div class="jx-right-pattern"></div>
                  </header>
                </div>
                {% include block-tagcloud.html %}
              </div>
            </div>
          </div>


          <div class="four columns">
            <div class="jx-footersection-widget">
              <div id="archives-4" class="widget widget_archive">
                <div class="sub">
                  <header>
                    <h4>Quick Links</h4>
                    <div class="jx-right-pattern"></div>
                  </header>
                </div>
                <ul>
                  <li><a href="{{ site.press_kit | prepend: site.baseurl }}">Press Kit</a></li>
                  <li><a href="{{ site.brand_guidelines | prepend: site.baseurl }}">Brand Guidelines</a></li>
                  <li><a href="{{ site.media_releases | prepend: site.baseurl }}">Media Releases</a></li>
                  <li><a href="{{ "/legal/" | prepend: site.baseurl }}">Legal Notices</a></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- END Widgets -->
        </div>
      </div>

      <div class="jx-post-footer">
        <div class="container">
          <div class="jx-footer-social">
            <ul>
              <li><a href="http://www.facebook.com/{{ site.username }}"><i class="icon-facebook"></i></a></li>
              <li><a href="http://www.twitter.com/{{ site.username }}"><i class="icon-twitter"></i></a></li>
              <li><a href="http://www.github.com/{{ site.username }}"><i class="icon-github-circled"></i></a></li>
              <li><a href="http://plus.google.com/+{{ site.username }}"><i class="icon-gplus"></i></a></li>
              <li><a href="https://www.instagram.com/{{ site.username }}"><i class="icon-instagram"></i></a></li>
            </ul>
          </div>
          <div class="jx-footer-copyright">&copy;2016 <a href="http://dotbunny.com/" target="_blank">dotBunny Inc.</a> All Rights Reserved.</div>
        </div>
      </div>

    </footer>

      </div><!-- /perspective-wrapper -->
    </div><!-- /perspective-container -->

    <nav class="outer-nav left vertical">
        {% include menu.html  icons="true" %}
    </nav>

  </div><!-- /perspective -->
