

  <div class="jx-slider">
    <header id="menu">
      <div id="header" class="jx-header jx-sticky fixed">
        <div class="container">
          <div class="sixteen columns">
            <div class="jx-logo left"><a href="{{ site.url }}" title="{{ site.title }}"><img id="logo" src="{{ "/content/img/shared/PTBOGameJam-Dark.png" | prepend: site.baseurl }}" alt="{{ site.title }}"></a><a href="{{ "/legal/" || | prepend: site.baseurl }}"><i class="icon-trademark"></i></a></div>
              <nav class="jx-menu right">
                <div id="jx-main-menu" class="main-menu">
                  {% include menu.html %}
                </div>
              </nav>
            </div>
          </div>
        </div>
        {% if page.highlight == "event" %}
        <div id="mobile-sub-menu" class="display-none">
          {% include menu-sub-event.html %}
        </div>
        {% endif %}
        {% if page.highlight == "community" %}
        <div id="mobile-sub-menu" class="display-none">
          {% include menu-sub-community.html %}
        </div>
        {% endif %}
        {% if page.highlight == "games" %}
        <div id="mobile-sub-menu" class="display-none">
          {% include menu-sub-games.html %}
        </div>
        {% endif %}
        <div id="showMenu">{% if page.highlight == "event" || page.highlight == "games" || page.highlight == "community" %}<i id="showSubMenuIcon" class="icon-angle-down"></i>{% endif %}<i id="showMenuIcon" class="icon-menu"></i></div>
      </header>
      <div id="perspective" class="perspective effect-airbnb">
        <div class="perspective-container">
          <div class="perspective-wrapper">
