  <div class="loader">
    <div class="spinner spinner-double-bounce">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>

<!-- BOF Slider -->
  <div class="jx-slider">
    <div class="jx-top-black"></div>

    <header>
      <div id="header" class="jx-header jx-sticky">
        <div class="container">
          <div class="sixteen columns">
            <div class="jx-logo left"><a href="{{ site.url }}" title="{{ site.title }}"><img id="logo" src="{{ "/content/img/shared/PTBOGameJam-Light.png" | prepend: site.baseurl }}" alt="{{ site.title }}"></a></div>
              <nav class="jx-menu right">
                <div id="jx-main-menu" class="main-menu">
                  <ul>
                    <li class="current">
                      <a href="{{ "/about/" | prepend: site.baseurl }}">About</a>
                      <ul class="sub-menu">
                            <li><a title="Media Releases" href="{{ "/about/media-releases/" | prepend: site.baseurl }}">Media Releases</a></li>
                            <li><a title="Media Releases" href="{{ "/about/press-kit/" | prepend: site.baseurl }}">Press Kit</a></li>
                      </ul>
                    </li>
                    <li class="">
                      <a href="{{ "/event/" | prepend: site.baseurl }}">Event</a>
                      <ul class="sub-menu">
                            <li><a title="Schedule" href="{{ "/event/schedule/" | prepend: site.baseurl }}">Schedule</a></li>
                            <li><a title="Registration" href="{{ site.registration_url }}">Registration</a></li>
                            <li><a title="FAQ" href="{{ "/event/faq/" | prepend: site.baseurl }}">FAQ</a></li>
                      </ul>
                    </li>
                    <li><a title="Jams" href="{{ "/games/" | prepend: site.baseurl }}">Games</a>
                      <ul class="sub-menu">
                        <li><a title="PTBO Game Jam 01" href="{{ "/games/01/" | prepend: site.baseurl }}">Cats With Leashes (01)</a></li>
                      </ul>
                    </li>
                    <li class="">
                      <a href="{{ "/community/" | prepend: site.baseurl }}">Community</a>
                      <ul class="sub-menu">
                            <li><a title="Meetup" href="{{ site.meetup_url }}">Meetup</a></li>
                            <li><a title="Forums" href="{{ site.forum_url }}">Forum</a></li>
                      </ul>
                    </li>
                    <li><a href="{{ "/contact/" | prepend: site.baseurl }}">Contact</a></li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </header>
