  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1.0">

    <title>{% if page.title %}{{ page.title | escape }} | PTBO Game Jam{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="peterborough, game jam, indie, dotbunny, development, video games, unity, epic, unreal, awesome">
    <meta name="author" content="PTBO Game Jam">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,600,500,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,500,300' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ "/content/vendor/fontello/css/fontello.css" | prepend: site.baseurl }}">

    <!-- <link rel="stylesheet" href="{{ "/content/vendor/font-awesome/font-awesome.css" | prepend: site.baseurl }}"> -->
    <link rel="stylesheet" href="{{ "/content/vendor/flexslider/flexslider.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/content/vendor/prettyPhoto/prettyPhoto.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/content/css/main.css" | prepend: site.baseurl }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

    <script src="{{ "/content/vendor/modernizr.js" | prepend: site.baseurl }}"></script>
    {% if page.map %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key={{ site.google_api_key }}"></script>
    {% endif %}


    <!--[if lte IE 8]>
    <script src="{{ "/content/vendor/respond.js" | prepend: site.baseurl }}"></script>
    <![endif]-->

	  <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	  <![endif]-->

    <!-- Site Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/content/icon/apple-touch-icon.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" href="{{ "/content/icon/favicon-32x32.png" | prepend: site.baseurl }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ "/content/icon/favicon-16x16.png" | prepend: site.baseurl }}" sizes="16x16">
    <link rel="manifest" href="{{ "/content/icon/manifest.json" | prepend: site.baseurl }}">
    <link rel="mask-icon" href="{{ "/content/icon/safari-pinned-tab.svg" | prepend: site.baseurl }}" color="#00ccff">
    <link rel="shortcut icon" href="{{ "/content/icon/favicon.ico" | prepend: site.baseurl }}">
    <meta name="msapplication-config" content="{{ "/content/icon/browserconfig.xml" | prepend: site.baseurl }}">
    <meta name="theme-color" content="#ffffff">

    <!-- Social Media -->
    <meta property="og:site_name" content="{{ site.title }}">
	  <meta property="og:type" content="website">
	  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  	<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <meta property="og:image" content="{% if include.social %}{{ include.social | prepend: site.url }}{% else %}{{ "/content/img/social/og.png" | prepend: site.baseurl }}{% endif %}">

    <!-- Google Analytics -->
    <script>
    	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    	  ga('create', '{{ site.google_analytics }}', 'auto');
    	  ga('send', 'pageview');
    </script>
  </head>
