  <div class="loader">
    <div class="spinner spinner-double-bounce">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>

<!-- BOF Slider -->
  <div class="jx-slider">
    <div class="jx-top-black"></div>

    <header>
      <div class="jx-header jx-sticky">
        <div class="container">
          <div class="sixteen columns">
            <div class="jx-logo left"><a href="{{ site.baseurl }}" title="{{ site.title }}"><img src="{{ "/content/img/shared/PTBOGameJam-Light.png" | prepend: site.baseurl }}" alt="{{ site.title }}"></a></div>
              <nav class="jx-menu right">
                <div id="jx-main-menu" class="main-menu">
                  <ul>
                    <li class="current">
                      <a href="#about">About</a>
                      <ul class="sub-menu">
                            <li><a title="Media Releases" href="#">Media Releases</a></li>
                            <li><a title="Media Releases" href="#">Press Kit</a></li>
                      </ul>
                    </li>
                    <li class="">
                      <a href="#event">Event</a>
                      <ul class="sub-menu">
                            <li><a title="Schedule" href="#">Schedule</a></li>
                            <li><a title="Registration" href="#">Registration</a></li>
                            <li><a title="FAQ" href="#">FAQ</a></li>
                      </ul>
                    </li>
                    <li class="">
                      <a href="#community">Community</a>
                      <ul class="sub-menu">
                            <li><a title="Jams" href="#">Jams</a>
                              <ul class="sub-menu">
                                    <li><a title="Jams" href="#">01</a></li>
                                    <li><a title="Registration" href="#">02</a></li>
                              </ul>
                            </li>
                            <li><a title="Meetup" href="{{ site.meetup_url }}">Meetup</a></li>
                            <li><a title="Forums" href="{{ site.forum_url }}">Forum</a></li>
                      </ul>
                    </li>
                    <li><a href="#contact">Contact</a></li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </header>
