<ul>
  <li class="{% if page.highlight == "about" %}current{% endif %}"><a {% if include.icons == "true" %}class="icon-gamejam" {% endif %} href="{{ "/about/" | prepend: site.baseurl }}">About</a></li>
  <li class="{% if page.highlight == "blog" %}current{% endif %}"><a {% if include.icons == "true" %}class="icon-newspaper" {% endif %} title="Blog" href="{{ "/blog/" | prepend: site.baseurl }}">Blog</a>
  <li class="{% if page.highlight == "event" %}current{% endif %}">
    <a {% if include.icons == "true" %}class="icon-calendar" {% endif %}href="{{ "/event/" | prepend: site.baseurl }}">Event</a>
    {% if include.icons != "true" %}
      {% include menu-sub-event.html %}
    {% endif %}
  </li>
  <li class="{% if page.highlight == "games" %}current{% endif %}"><a {% if include.icons == "true" %}class="icon-gamepad" {% endif %}title="Games" href="{{ "/games/" | prepend: site.baseurl }}">Games</a>
    {% if include.icons != "true" %}
      {% include menu-sub-games.html %}
    {% endif %}
  </li>
  <li class="{% if page.highlight == "community" %}current{% endif %}">
    <a {% if include.icons == "true" %}class="icon-users" {% endif %}href="{{ "/community/" | prepend: site.baseurl }}">Community</a>
    {% if include.icons != "true" %}
      {% include menu-sub-community.html %}
    {% endif %}
  </li>
  <li class="{% if page.highlight == "contact" %}current{% endif %}"><a {% if include.icons == "true" %}class="icon-mail" {% endif %}href="{{ "/contact/" | prepend: site.baseurl }}">Contact</a></li>
  {% if include.icons == "true" %}
  <li class="register-button"><a class="icon-ticket" title="Register" href="{{ site.data.latest.registration }}">Register</a></li>
  {% endif %}
</ul>
