<div class="jx-footer-social">
  <ul>
    <li><a href="http://www.facebook.com/{{ site.data.social.username }}"><i class="icon-facebook"></i></a></li>
    <li><a href="http://www.twitter.com/{{ site.data.social.username }}"><i class="icon-twitter"></i></a></li>
    <li><a href="http://www.github.com/{{ site.data.social.username }}"><i class="icon-github-circled"></i></a></li>
    <li><a href="http://plus.google.com/+{{ site.data.social.username }}"><i class="icon-gplus"></i></a></li>
    <li><a href="https://www.instagram.com/{{ site.data.social.username }}"><i class="icon-instagram"></i></a></li>
    <li><a href="{{ site.data.links-relative.rss | prepend: site.baseurl }}"><i class="icon-rss"></i></a></li>
  </ul>
</div>
