<div id="home" class="jx-page-titlebar">
  <div class="page-titlebar-bg parallax-no" style="background:url(
  {% if page.titlebar %}{{ "/content/img/titlebars/" | prepend: site.baseurl }}{{page.titlebar}}{% else %}{{ "/content/img/titlebars/" | prepend: site.baseurl }}{{site.titlebar}}{% endif %}); background-position:center; background-size: cover;"></div>
  <div class="container">
    <div class="jx-page-titlebar-items">
      <div class="sixteen columns left">
        <div class="jx-breadcrumb"><a href="{{site.url }}" rel="v:url" property="v:title">Home</a>{% if page.breadcrumb %}<span class="pre-breadcrumb" typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="{{ site.url }}/{{ page.breadcrumb }}">{{ page.breadcrumb }}</a></span>{% endif %}<span class="current">{{ page.title }}</span></div>
      </div>
    </div>
  </div>
</div>

<!-- Handles the sliderfx position -->
</div>
