<div id="home" class="jx-page-titlebar">
  <div class="page-titlebar-bg parallax-no" style="background:url(
  {% if page.titlebar %}{{ "/content/img/titlebars/" | prepend: site.baseurl }}{{page.titlebar}}{% else %}{{ "/content/img/titlebars/" | prepend: site.baseurl }}{{site.titlebar}}{% endif %}); background-position: bottom; background-size: cover;"></div>
  <div class="container">
    <div class="jx-page-titlebar-items">
      <div class="sixteen columns left">
        {% include breadcrumb.html %}
      </div>
    </div>
  </div>
</div>
