<div id="home" class="jx-page-titlebar">
  <div class="page-titlebar-bg parallax-no" style="{% if page.background-height %}min-height: {{ page.background-height }} !important;{% endif %}background:url(
  {% if page.titlebar %}{{ "/content/img/titlebars/" | prepend: site.baseurl }}{{page.titlebar}}{% else %}{{ "/content/img/titlebars/" | prepend: site.baseurl }}{{site.titlebar}}{% endif %}); background-position: {% if page.background-position %}{{ page.background-position }}{% else %}bottom{% endif %}; background-repeat: no-repeat; background-size: cover;">{% if page.titlebar-overlay %}<div><img src="{{ page.titlebar-overlay | prepend: site.baseurl }}" /></div>{% endif %}</div>
  <div class="container">
    <div class="jx-page-titlebar-items">
      <div class="sixteen columns left">
        {% if page.hide-breadcrumb %}
        {% else %}
        {% include breadcrumb.html %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
