#gallery .jx-team-item {
    margin-bottom: 20px;
}

#gallery .games-row
{
    width: 100%;
    height: 50px;
    float: left;
}

.game-status {
    float: right;
}

p.game-control {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    vertical-align: top;
}
.game-control span
{
    font-weight: 700;
    width: 30%;
    display: inline-block;
    color: $grey-color;
    padding-right: 10px;
}