div#games-list .grid-item-details
{
    display: none;
}

.jx-venue .detail-list ul li {
    margin: 0px;
    padding: 0px 10px 10px 0px;
    display: inline-block;
}

// .archive-list .jx-service-item {
// border: 2px solid #eee;
// }
    
.archive-item .information strong {
    text-transform: uppercase;
}

.archive-item .image {
   // float: left;

    
}

.archive-item { 
    width: 50%;
    margin-left: 0px;
    margin-right: 0px;
   // clear: both;
}

.archive-item .image {

}
.archive-item .information {
    float: left;
}