@media only screen and (max-width: 768px)
{
	.content-spacer
	{
		padding-top: 25px;
	}

  // might need 767 this
  .jx-team .jx-team-box-content
  {
    padding-bottom: 25px;
  }

	.jx-summary-info li .jx-info .jx-bar-head
	{
		font-size: 35px;
	}

	.jx-subscribe-event
	{
		display: none;
	}
	#sidebar
	{
		display: none;
	}

	.jx-inter-map {
		float: none;
		width: 100%;
		padding-bottom: 50px;
		padding-left: 0px;
	}
	.jx-map-info {
		width: 100%;
	}

	div#latest-countdown .container {
		width: 100% !important;
	}

	div#latest-countdown .counter-wrapper {
		float: none;
	}

	div#latest-countdown .latest-countdown-message {
		display: none;
	}

	div#event-header .jx-section-title
	{
		padding-top: 25px;
	}
	.pad-right {
		padding-right: 0px;
	}
	.pad-left {
		padding-left: 0px;
	}

	.jx-venue-box
	{
		left: inherit;
		width: 100%;
	}

	.responsive-full {
		width: 100%;
	}
	.jx-grid-item .logo-spacer
	{
		height: 28px;
	}

	.chart-spacer {
		margin-top: 25px !important;
	}


	div#stats .container {
	margin-bottom: 0px;
	}
	div#stats .container:first-child {
	margin-bottom: 25px;
	}

	.jx-event-play .icon-video {
  		text-indent: 0px;
	}

	.game-status {
		display: none;
	}
}
