@media only screen and (max-width: 768px)
{
	.content-spacer
	{
		padding-top: 25px;
	}

  // might need 767 this
  .jx-team .jx-team-box-content
  {
    padding-bottom: 25px;
  }

	.jx-summary-info li .jx-info .jx-bar-head
	{
		font-size: 35px;
	}

	.jx-subscribe-event
	{
		display: none;
	}
}
