@media only screen and (min-width: 768px) and (max-width: 959px) {




/*---------------------------------------------------------------
[1.0 Footer ]
---------------------------------------------------------------*/

.jx-footer-social li i {
width: 60px;
height: 60px;
line-height: 62px;
font-size: 25px;
}


.jx-footer-social {
padding: 30px 0px 0px !important;
}

.jx-footer-social li i {
width: 60px !important;
height: 60px !important;
line-height: 60px !important;
font-size: 27px !important;
}


/*---------------------------------------------------------------
[2.0 Services ]
---------------------------------------------------------------*/

.jx-servicebox-1 .jx-service-item .service-description p {
  padding: 0px 0px;
}


.jx-servicebox-1 .jx-service-item .service-icon i {
  font-size: 50px;
}
/*--------Services style #1-------*/


/*---------------------------------------------------------------
[3.0 Media Center ]
---------------------------------------------------------------*/

.jx-media-center .title {
  font-size: 18px;
}

.jx-media-center .date {
  font-size: 16px;
}

.jx-media-center .date span {
  padding-right: 10px;
}

.jx-media-center .date i {
    padding: 0px 2px 0px 0px;
}

.jx-media-center .one-third.columns {
  width: 362px;
  margin-bottom: 40px;
}


/*---------------------------------------------------------------
[4.0 Team ]
---------------------------------------------------------------*/

.jx-team .four.columns {
  width:360px;
 }

 .jx-team img {
  width:100%;
 }

 .jx-team .jx-team-item {
  //padding-bottom:40px;
 }

 .jx-team .jx-team-item {
  width: 47.9%;
}

.jx-team-item {
  width: 23.9%;
}

.jx-team-item.jx-team-box-content {
  width: 48.7%;
}

.jx-image-wrapper .jx-image-hover-info {
  margin-left: -60px;
}


/*---------------------------------------------------------------
[5.0  Countup ]
---------------------------------------------------------------*/

.jx-countup .count-item .count-text {
  font-size: 20px;
}

.jx-countup .count-item .count-number {
  font-size: 40px;
}

.jx-countup .four.columns {
  width: 360px;
}

.jx-counter-item {
  padding-bottom:30px;
}


/*---------------------------------------------------------------
[6.0  Section Title ]
---------------------------------------------------------------*/


.jx-section-title-1 .jx-title {
    font-size: 35px;
}



/*---------------------------------------------------------------
[7.0  Header ]
---------------------------------------------------------------*/

.jx-menu {
  display:none;
}
div#showMenu
{
  display: block;
}

/*---------------------------------------------------------------
[8.0  Slider ]
---------------------------------------------------------------*/


.jx-info-icon .line-icon {
  font-size: 28px !important;
  padding:5px;
}

.jx-info-content .info-title {
  font-size: 14px !important;
  text-transform: uppercase !important;

}

.jx-info-content .info-description {
  font-size: 11px !important;
}



.jx-event-box {
  left: 0px !important;
}
.jx-event-box-counter .jx-event-date {
  height: 200px !important;
  width: 200px ;
}
.jx-event-box-counter .jx-event-title-box {
  width: 560px;
  height: 290px;
}
.jx-event-box .jx-event-date .jx-event-day {
  font-size: 95px;
}
.jx-event-box .jx-event-date .jx-event-month {
  font-size: 45px;
}

.jx-event-title-box .jx-event-title {
  font-size: 30px;
}
.jx-event-title-box .jx-event-location {
  font-size: 18px;
}
.jx-event-title-box .jx-event-pretitle {
  font-size: 20px;
}
.jx-event-box-counter .jx-event-title-box {
  width: 560px;
  height: 200px;
}

.jx-countdown .counter-wrapper li {
  margin-top:15px;
}

.jx-event-box-counter .jx-event-date {
  padding-top: 25px !important;
}

.jx-event-play {
  height: 200px;
  width: 200px;
  padding-top:30px;
}
.jx-event-title-box {
  width: 560px;
  height: 200px;
}
.jx-event-play i {
  width: 145px;
  height: 145px;
  line-height: 125px;
  font-size: 70px;
}

.jx-event-box-register .jx-event-date {
    height: 390px !important;
}

.jx-event-box .jx-event-date {
  height:200px;
}
.jx-event-box .jx-event-date {
  width:200px;
}

.jx-event-box-register.jx-register-box-2 .jx-event-date {
  width:560px;
  height:130px !important;
}

.jx-event-box-register.jx-register-box-2 {
    margin: auto 13% !important;
}

.jx-right-vertical-border .jx-date{
  display:none;
}

.jx-right-vertical-border {
  right: 110px;
  border-left:none !important;
}


.jx-event-box-register .jx-event-register input {
  float: left;
  display: inline;
}

.jx-event-box-register .jx-event-register .jx-ticket-email {
  float: left;
  display: inline;
}

.jx-event-register .jx-ticket-type {
  float: left;
}



/*---------------------------------------------------------------
[9.0  According ]
---------------------------------------------------------------*/


.jx-event-schedule .right-position {
  width: 630px;
}


/*---------------------------------------------------------------
[10.0  Tabs ]
---------------------------------------------------------------*/


.shortcode_tab_e.jx-white-tab.jx-arrow-tab ul li {
  width:31.9%;
}

.jx-tab-date {
  font-size: 30px;
}

.shortcode_tab_e.jx-white-tab.jx-arrow-tab ul li {
  padding: 24px 20px 25px 20px;
  margin-left:8px;
  margin-right:7px;

}

.shortcode_tab_e.jx-white-tab.jx-arrow-tab li.resp-tab-active {
  padding: 24px 20px 25px 20px;
}

.shortcode_tab_e.jx-white-tab.jx-arrow-tab ul.jx-subtab li {
  font-size: 16px;
  line-height: 1.6;
}


.jx-ticket-form .jx-ticket-type, .jx-ticket-form .jx-ticket-valid {
  width: 48.2%;
  float:left;
}


/*---------------------------------------------------------------
[11.0  Ticket Form  ]
---------------------------------------------------------------*/

.jx-countdown-form .jx-half-width {
  width: 100% !important;
}


/*---------------------------------------------------------------
[ 12.0  Testimonial  ]
---------------------------------------------------------------*/


.jx-testimonial-item .jx-testimonial-content .jx-content p {
  width:600px;
}



/*---------------------------------------------------------------
[13.0  Price Table  ]
---------------------------------------------------------------*/


.jx-price-table .jx-price-item .jx-price {
  font-size: 55px;
  padding: 10px 20px 0px;
  line-height: 85px;
}

.jx-price-table .jx-price-item .jx-package-name {
  font-size: 25px;
  margin-bottom: 15px;
}

.jx-price-table .jx-price-item .jx-package-feature {
  padding: 0px 20px 15px;
}

.jx-price-table .jx-price-item .jx-price span {
  font-size: 30px;
}





/*---------------------------------------------------------------
[16.0  FAQ BOX  ]
---------------------------------------------------------------*/


.jx-faq .jx-faq-head .jx-faq-title {
  width: 100%;
  float:none;
}

.jx-faq-description {
  height:auto;
  padding:30px 20px 20px 20px;
}

.jx-faq .jx-faq-head .jx-faq-title::after {
  left:47%;
}

/*---------------------------------------------------------------
[19.0  Portfolio  ]
---------------------------------------------------------------*/

.jx-grid-item .jx-date-box {
width: 179px;
height: 179px;
padding-top: 35px;
}

.jx-grid-item .jx-date-box .jx-date {
  font-size: 45px;
}

.grid-item-width2 {
width: 48.2% !important;
height: 48.2%;
}

.jx-grid-item {
width: 23.4%;
}

.jx-grid-item.grid-item-width2-only {
width: 48%;
height: 182px;
}

/*---------------------------------------------------------------
[17.0  Interactive Map  ]
---------------------------------------------------------------*/


.jx-map-company > ul > li {
  width: 24.9%;
}

.jx-single-point:nth-of-type(3) {
  top: 28%;
}

.jx-single-point:nth-of-type(1) {
   bottom: 50%;
 }

 .jx-single-point:nth-of-type(2) {
  bottom: 39%;
}

.jx-single-point:nth-of-type(4) {
    top: 21%;
}

/*---------------------------------------------------------------
[18.0  Contact Form  ]
---------------------------------------------------------------*/


.jx-contact-form .contact-full-name, .jx-contact-form .contact-email {
  width: 48.4%;
  float:left;
}

/*---------------------------------------------------------------
[20.0  Summary Info  ]
---------------------------------------------------------------*/


.jx-summary-info li .jx-info .jx-bar-head {
  font-size:25px;
}

.jx-summary-info li .jx-info .jx-bar-title {
  font-size:14px;
}

.jx-summary-info li i {
  font-size:35px;
}

.jx-summary-info li .jx-subscribe-event .jx-newsletter-box {
  width: 145px;
}

.jx-summary-info li .jx-subscribe-event h2 {
  font-size:14px;
}

.jx-summary-info li .jx-newsletter-submit input {
  width:70px;
  font-size:14px;
  padding:0px;
}


/*---------------------------------------------------------------
[21.0  Blog  ]
---------------------------------------------------------------*/


.jx-blog-head .jx-event-date {
font-size: 18px !important;
}
.jx-blog .title {
padding: 0px 0px 20px !important;
}
.jx-blog-head .title a {
font-size: 25px !important;
}

.container.with-sidebar .sixteen.columns {
width: 740px !important;
}

.jx-blog .title {
padding: 0px 0px 20px !important;
}


/*---------------------------------------------------------------
[22.0  PAGE 404  ]
---------------------------------------------------------------*/


.jx-error .jx-error-msg {
  font-size: 35px !important;
}

.jx-error .jx-error-code {
  font-size: 200px !important;
}

.jx-team div:nth-child(2)
{
  padding-left: 0px;
  margin-left: 0px;
}

}
