---
layout: default
---
  <div class="container with-sidebar">
    <div class="posts sixteen columns jx-padding alpha jx-blog">
      <div id="post-{{ page.title | slugify }}" class="jx-blog post-{{ page.title | slugify }} post type-post status-publish format-video has-post-thumbnail hentry">
        <div class="jx-blog-item">
          <div class="jx-blog-image">
              <div class="image jx-image-wrapper">
              {% if page.screenshots[0] %}
                <img alt="{{ item.title }}" width="0" height="0" src="{{ page.screenshots[0][1] | prepend: site.baseurl }}" class="attachment-blog size-blog " draggable="false" hdpi="false">
                <a href="{{ page.screenshots[0][1] | prepend: site.baseurl }}" data-rel="prettyPhoto[game]">
                  <div class="jx-image-overlayer"></div>
                  <div class="jx-image-hover"><i class="icon-zoom-in"></i></div>
                </a>
              {% else %}
                <img alt="{{ item.title }}" width="0" height="0" src="{{ "/content/img/event/game-template.jpg" | prepend: site.baseurl }}" class="attachment-blog size-blog " draggable="false" hdpi="false">
              {% endif %}
              </div>
          </div>
          <div class="jx-blog-content clearfix">
            <a href="{{ page.link }}" title="{{page.title}}">
              <div class="jx-blog-head">
                <div class="jx-post-format"><i class="icon-gamepad"></i></div>
                <div class="jx-blog-meta">
                  <div class="jx-event-date"><a class="black" href="{{ site.data.links-relative.archive | prepend: site.baseurl }}{{page.event}}">PTBO Game Jam {{ page.event }}</a></div>
                </div>
                <div class="title"><a href="{{ page.link }}">{{ page.title }}</a></div>
              </div>
            </a>
            <div class="jx-blog-metabox jx-single">
              <span class="meta_categories"><i class="icon-link"></i>
                <a href="{{ page.link }}" title="{{page.title}}">{{ page.link }}</a>
                {% if page.status %}
                <div class="game-status">{{ page.status }}</div>
                {% endif %}
              </span>
            </div>
            <article>
            {% if page.screenshots and page.screenshots.size > 1 %}
              {% for screenshot in page.screenshots offset: 1 %}
              <div class="jx-grid-item">
                <div class="jx-image jx-image-wrapper">
                  <img src="{{ screenshot[0] | prepend: site.baseurl }}" />
                  <a href="{{ screenshot[1] | prepend: site.baseurl }}" data-rel="prettyPhoto[game]">
                    <div class="jx-image-overlayer"></div>
                    <div class="jx-image-hover"><i class="icon-zoom-in"></i></div>
                  </a>
                </div>
              </div>{% endfor %}
            {% endif %}
            {% if page.teamshots %}
              {% for teamshot in page.teamshots %}
              <div class="jx-grid-item">
                <div class="jx-image jx-image-wrapper">
                  <img src="{{ teamshot[0] | prepend: site.baseurl }}" />
                  <a href="{{ teamshot[1] | prepend: site.baseurl }}" data-rel="prettyPhoto[game]">
                    <div class="jx-image-overlayer"></div>
                    <div class="jx-image-hover"><i class="icon-zoom-in"></i></div>
                  </a>
                </div>
              </div>{% endfor %}
            {% endif %}

            {% if page.teamshots.size > 0 or page.screenshots.size > 0 %}
              <div class="clearfix archive-text-space"></div>
            {% endif %}
            {{ content }}
            
             <!-- VIDEOS -->
            {% if page.videos %}
                {% for video in page.videos %}
                <iframe class="release-video" id="video-{{ forloop.index0 }}" src="{{ video }}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen width="100%" height="480"></iframe>
                {% endfor %}
            {% endif %}

            {% if page.controls %}
            <p><strong>Controls</strong></p>
            <p>
              {% for control in page.controls %}
            <div class="game-control"><span>{{ control[0] }}</span>{{ control[1]}}</div>
              {% endfor %}
            </p>
            {% endif %}
            {% if page.notes %}
            <p><em>{{ page.notes }}</em></p>
            {% endif %}
            </article>
            <div class="archive-buttons">
              <a class="jx-btn-default" href="{{page.link}}">Play Now</a>
            </div>
          </div>
        </div>
    </div>
  </div>
  {% include sidebar-archive.html %}
</div>
{% include block-summary.html %}
