---
layout: default
---
  <div class="container with-sidebar">
    <div class="posts sixteen columns jx-padding alpha jx-blog">
      <div id="post-{{ page.code }}" class="jx-blog post-{{ page.code }} post type-post status-publish format-video has-post-thumbnail hentry">
        <div class="jx-blog-item">
          <div class="jx-blog-image">
              <div class="image jx-image-wrapper">
              {% if page.screenshots[0] %}
                <img alt="{{ item.title }}" width="0" height="0" src="{{ page.screenshots[0][1] | prepend: site.baseurl }}" class="attachment-blog size-blog " draggable="false" hdpi="false">
              {% else %}
                <img alt="{{ item.title }}" width="0" height="0" src="{{ "/content/img/event/game-template.jpg" | prepend: site.baseurl }}" class="attachment-blog size-blog " draggable="false" hdpi="false">
              {% endif %}
              </div>
          </div>
          <div class="jx-blog-content clearfix">
            <div class="jx-blog-head">
              <div class="jx-post-format"><i class="icon-{{ page.icon }}"></i></div>
              <div class="jx-blog-meta">
                <div class="jx-event-date">DATE</div>
              </div>
              <div class="title">{{ page.title }}</div>
            </div>
            <div class="jx-blog-metabox jx-single">
              <span class="meta_categories"><i class="icon-tags"></i>
                {% for tag in page.tags %}
                  {% if forloop.last %}
                    <a href="{{ site.data.links-relative.tags | prepend: site.baseurl }}#{{ tag | slugify }}">{{ tag }}</a>
                  {% else %}
                    <a href="{{ site.data.links-relative.tags | prepend: site.baseurl }}#{{ tag | slugify }}">{{ tag }}</a>,
                  {% endif %}
                {% endfor %}
              </span>
            </div>
            <article>
            {{ content }}
            </article>
          </div>
        </div>
    </div>
  </div>
  {% include sidebar-archive.html %}
</div>
{% include block-summary.html %}
