---
layout: default
---
  <div class="container with-sidebar">
    <div class="posts sixteen columns jx-padding alpha jx-blog">
      <div id="post-{{ page.code }}" class="jx-blog post-{{ page.code }} post type-post status-publish format-video has-post-thumbnail hentry">
        <div class="jx-blog-item">
          <div class="jx-blog-image">
              <div class="image jx-image-wrapper">
              {% if page.screenshots[0] %}
                <img alt="{{ item.title }}" width="0" height="0" src="{{ page.screenshots[0][1] | prepend: site.baseurl }}" class="attachment-blog size-blog " draggable="false" hdpi="false">
                <a href="{{ page.screenshots[0][1] | prepend: site.baseurl }}" data-rel="prettyPhoto">
                  <div class="jx-image-overlayer"></div>
                  <div class="jx-image-hover"><i class="icon-zoom-in"></i></div>
                </a>
              {% else %}
                <img alt="{{ item.title }}" width="0" height="0" src="{{ "/content/img/event/game-template.jpg" | prepend: site.baseurl }}" class="attachment-blog size-blog " draggable="false" hdpi="false">
              {% endif %}
              </div>
          </div>
          <div class="jx-blog-content clearfix">
            <a href="{{ page.link }}" title="{{page.title}}">
              <div class="jx-blog-head">
                <div class="jx-post-format"><i class="icon-gamepad"></i></div>
                <div class="jx-blog-meta">
                  <div class="jx-event-date">PTBO Game Jam {{ page.event }}</div>
                </div>
                <div class="title">{{ page.title }}</div>
              </div>
            </a>
            <div class="jx-blog-metabox jx-single">
              <span class="meta_categories"><i class="icon-link"></i>
                <a href="{{ page.link }}" title="{{page.title}}">{{ page.link }}</a>
              </span>
            </div>
            <article>
            {% if page.screenshots and page.screenshots.size > 1 %}
              {% for screenshot in page.screenshots offset: 1 %}
              <div class="jx-grid-item">
                <div class="jx-image jx-image-wrapper">
                  <img src="{{ screenshot[0] | prepend: site.baseurl }}" />
                  <a href="{{ screenshot[1] | prepend: site.baseurl }}" data-rel="prettyPhoto">
                    <div class="jx-image-overlayer"></div>
                    <div class="jx-image-hover"><i class="icon-zoom-in"></i></div>
                  </a>
                </div>
              </div>{% endfor %}
            {% endif %}
            {% if page.teamshots %}
              {% for teamshot in page.teamshots %}
              <div class="jx-grid-item">
                <div class="jx-image jx-image-wrapper">
                  <img src="{{ teamshot[0] | prepend: site.baseurl }}" />
                  <a href="{{ teamshot[1] | prepend: site.baseurl }}" data-rel="prettyPhoto">
                    <div class="jx-image-overlayer"></div>
                    <div class="jx-image-hover"><i class="icon-zoom-in"></i></div>
                  </a>
                </div>
              </div>{% endfor %}
            {% endif %}
            <div class="row"></div>
            {{ content }}
            </article>
          </div>
        </div>
    </div>
  </div>
  {% include sidebar-archive.html %}
</div>
{% include block-summary.html %}
