---
layout: compress
---
<!DOCTYPE html>
<html>
{% include head.html %}
  <body>
{% include header.html %}
    <div id="home">
      <div class="full-video-container jx-parallax-fullwidth">
          <a href="{{ site.data.latest.link | prepend: site.baseurl }}" title="{{ site.data.latest.title }}">
          <video id="titlebar-video" playsinline="" autoplay="" muted="" loop="" poster="/content/img/slides/slide-blank-04.jpg">
            <source src="https://player.vimeo.com/external/230401383.sd.mp4?s=b4f5e7aa2f93865bb33f71f770b862f5ab91da56&profile_id=165" type="video/mp4">
          </video>
          <div class="lander-info">
            <div class="container">
              <!--<div class="lander-message"><a href="https://itch.io/jam/ptbogamejam03/entries"><strong>While we don't have anything to say about 04 quite yet, go play the PTBO Game Jam 03 Games!</strong></a></div>-->
              <ul>
                <li class="three columns">
                  <div class="jx-info-icon"><i class="icon-calendar"></i></div>
                  <div class="jx-info-content">
                    <div class="info-title">DATE</div>
                    <div class="info-description">{{ site.data.latest.date_short }}</div>
                  </div>
                </li>
                <li class="six columns">
                  <div class="jx-info-icon"><i class="icon-location"></i></div>
                  <div class="jx-info-content">
                    <div class="info-title">LOCATION</div>
                    <div class="info-description">{{site.data.latest.location}}</div>
                  </div>
                </li>
                <li class="three columns">
                  <div class="jx-info-icon"><i class="icon-ticket"></i></div>
                  <div class="jx-info-content">
                    <div class="info-title">TICKETS</div>
                    <div class="info-description">{{site.data.latest.spots}} Spots</div>
                  </div>
                </li>

                <li class="four columns">
                  <div class="jx-info-icon"><i class="icon-thumbs-up"></i></div>
                  <div class="jx-info-content">
                    <div class="info-title">SPONSORS</div>
                    <!-- <div class="info-description">{{ site.data.latest-sponsors | size }} Supporters</div> -->
                    <div class="info-description"><a class="lander-link" href="mailto:hello@ptbogamejam.com">Contact Us</a></div>
                  </div>
                </li>
              </ul>
            
            </div>
          </div>
        </a>

      </div>
    </div>
  </div><!-- /perspective-wrapper -->
</div><!-- /perspective-container -->
<nav class="outer-nav left vertical">
    {% include menu.html  icons="true" %}
</nav>
<div class="outer-social">
  {% include menu-social.html %}
  {% include block-copyright.html %}
</div>
</div><!-- /perspective -->
{% include scripts.html script="lander" %}
  </body>
</html>
