---
layout: default
---
  <div class="container with-sidebar">
    <div class="posts sixteen columns jx-padding alpha jx-blog">
      <div id="post-{{ post.code }}" class="jx-blog post-26 post type-post status-publish format-video has-post-thumbnail hentry">
        <div class="jx-blog-item">
          <!-- {% if post post.image %} -->
          <div class="jx-blog-image">
              <div class="image jx-image-wrapper">
                <img width="0" height="0" src="/content/img/post/{{post.image}}" class="attachment-blog size-blog " draggable="false">
              </div>
          </div>
          {% endif %}
          <div class="jx-content clearfix">
            <div class="jx-blog-head">
              <div class="jx-post-format"><i class="icon-{{ post.icon }}"></i></div>
              <div class="jx-blog-meta">
                <div class="jx-event-date">{{ post.date | date_to_string }}</div>
              </div>
              <div class="title">{{ post.title }}</div>
            </div>
            <div class="jx-blog-metabox jx-single">
              <span class="meta_comments"><i class="icon-comments"></i><a href="http://ievent.janxcode.com/2015/08/26/fringilla-vel-aliquet-nec-vulputate/#respond">No Comments</a></span>
              <span class="meta_categories"><i class="icon-tag"></i>in <a href="http://ievent.janxcode.com/category/business/" rel="category tag">Business</a></span>
              <span class="meta_author"><i class="icon-user"></i>By <a href="http://ievent.janxcode.com/author/admin/" title="Posts by admin" rel="author">admin</a></span>
            </div>
            <article>
            </article>
          </div>
        </div>
    </div>
  </div>
  <!-- {% include page-sidebar.html %} -->
</div>
<!-- {% include block-summary.html %} -->
