---
layout: default
---
  <div class="container with-sidebar">
    <div class="posts sixteen columns jx-padding alpha jx-blog">
      <div id="post-{{ page.code }}" class="jx-blog post-{{ page.code }} post type-post status-publish format-video has-post-thumbnail hentry">
        <div class="jx-blog-item">
          {% if page.image %}
          <div class="jx-blog-image">
              <div class="image jx-image-wrapper">
                <img width="0" height="0" src="/content/img/post/{{page.image}}" class="attachment-blog size-blog " draggable="false" hdpi="true">
              </div>
          </div>
          {% endif %}
          <div class="jx-blog-content clearfix">
            <div class="jx-blog-head">
              <div class="jx-post-format"><a href="{{ site.data.links-relative.files-releases | prepend: site.baseurl }}{{page.pdf}}"><i class="icon-file-pdf"></i></a></div>
              <div class="jx-blog-meta">
                <div class="jx-event-date">{{ page.date | date_to_string }}</div>
              </div>
              <div class="title"><a href="#{{ page.title | slugify }}">{{ page.title }}</a></div>
            </div>
            <div class="jx-blog-metabox jx-single">
              <span class="meta_categories"><i class="icon-tags"></i>
                {% for tag in page.tags %}
                  {% if forloop.last %}
                    <a href="{{ site.data.links-relative.tags | prepend: site.baseurl }}#{{ tag | slugify }}">{{ tag }}</a>
                  {% else %}
                    <a href="{{ site.data.links-relative.tags | prepend: site.baseurl }}#{{ tag | slugify }}">{{ tag }}</a>,
                  {% endif %}
                {% endfor %}
              </span>
            </div>
            <article class="release">
              <p class="release-header">## FOR IMMEIDATE RELEASE ##</p>
              {{ content }}
              <p class="release-contact">Contact Information</p>
              <p class="release-info">{{ site.press_name }}</p>
              <p class="release-info">{{ site.press_email }}</p>
              <p class="release-info">{{ site.press_phone }}</p>
              <p class="release-footer">###</a>
            </article>
          </div>
        </div>
    </div>
  </div>
  {% include sidebar-blog.html %}
</div>
{% include block-summary.html %}
