---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Define Base Colors
$black: rgb(0,0,0);
$white: rgb(255,255,255);

// Define "Blue" Coloring
$blue: rgb(0,204,255);
$blue-transparent: rgba(0,204,255,0.9);
$blue-transparent-more: rgba(0,204,255,0.8);

// Define "Orange" Coloring (slightly modified from complimentary)
$orange: rgb(255,102,0);
$orange-transparent: rgba(255,102,0,0.9);
$orange-transparent-more: rgba(255,102,0,0.8);

// Define "Yellow" Coloring
$yellow: rgb(255,204,0);
$yellow-transparent: rgba(255,204,0,0.9);
$yellow-transparent-more: rgba(255,204,0,0.8);

// Our variables
$base-font-weight: 400;
$base-font-size:   14px;
$base-line-height: 1.2;
$base-font-family: 'Raleway', Arial, Helvetica, sans-serif;


$primary-color: $blue;
$primary-color-transparent: $blue-transparent;
$primary-color-transparent-more: $blue-transparent-more;

$secondary-color: $orange;
$secondary-color-transparent: $orange-transparent;
$secondary-color-transparent-more: $orange-transparent-more;




$small-font-size:  $base-font-size * 0.875;


$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;





// $primary-color:   #
$grey-color:       #828282;
$grey-color-light-more: lighten($grey-color, 50%);
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$grey-color-dark-more:  darken($grey-color, 40%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "icons",
        "animation",
        "elements",
        "plugins",
        "skin",
        "skeleton",

        "mobile-menu",

        "responsive-min480-max767",
        "responsive-min768-max959",

        "responsive-min768-max1024-landscape",
        "responsive-min768-max1024-portrait",
        "responsive-min960-max1199",

        "responsive-max1199",
        "responsive-max768",
        "responsive-max479",



        "hdpi"
;
